In [3]:
import pandas as pd
import numpy as np
data={'name':['harish','varma','dheeraj'],"age":[21,20,19]}
df=pd.DataFrame(data)
print(df)

      name  age
0   harish   21
1    varma   20
2  dheeraj   19

In [2]:
data1 = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
df1=pd.DataFrame(data1)
print(df1[['Name', 'Qualification']]) #accessing required columns of a dataframe

     Name Qualification
0     Jai           Msc
1  Princi            MA
2  Gaurav           MCA
3    Anuj           Phd

In [3]:
data=pd.read_csv("/home/neosoft/Downloads/nba.csv", index_col="Name")
print(data)

                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
Jae Crowder    Boston Celtics    99.0       SF  25.0    6-6   235.0
John Holland   Boston Celtics    30.0       SG  27.0    6-5   205.0
R.J. Hunter    Boston Celtics    28.0       SG  22.0    6-5   185.0
Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
...                       ...     ...      ...   ...    ...     ...
Shelvin Mack        Utah Jazz     8.0       PG  26.0    6-3   203.0
Raul Neto           Utah Jazz    25.0       PG  24.0    6-1   179.0
Tibor Pleiss        Utah Jazz    21.0        C  26.0    7-3   256.0
Jeff Withey         Utah Jazz    24.0        C  26.0    7-0   231.0
NaN                       NaN     NaN      NaN   NaN    NaN     NaN

                         College     Salary
Name
Avery Bradley              Texas  7730337.0
Jae Crowder            Marquette  6796117.0
John Holland   Boston University        NaN
R.J. Hunter        Georgia State  1148640.0
Jonas Jerebko                NaN  5000000.0
...                          ...        ...
Shelvin Mack              Butler  2433333.0
Raul Neto                    NaN   900000.0
Tibor Pleiss                 NaN  2900000.0
Jeff Withey               Kansas   947276.0
NaN                          NaN        NaN

[458 rows x 8 columns]

In [4]:
first = data.loc["Avery Bradley"] #retrieving row using loc method
print("row of name containing Avery Bradley:",first)
print(data.columns) #printing name of columns

row of name containing Avery Bradley: Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object
Index(['Team', 'Number', 'Position', 'Age', 'Height', 'Weight', 'College',
       'Salary'],
      dtype='object')

In [5]:
# retrieving rows by iloc method 
row2 = data.iloc[0] 
print(row2)

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object

In [6]:
#how to findout missing data
# retrieving rows by iloc method 
row2 = data.isnull()
print(row2)

                Team  Number  Position    Age  Height  Weight  College  Salary
Name
Avery Bradley  False   False     False  False   False   False    False   False
Jae Crowder    False   False     False  False   False   False    False   False
John Holland   False   False     False  False   False   False    False    True
R.J. Hunter    False   False     False  False   False   False    False   False
Jonas Jerebko  False   False     False  False   False   False     True   False
...              ...     ...       ...    ...     ...     ...      ...     ...
Shelvin Mack   False   False     False  False   False   False    False   False
Raul Neto      False   False     False  False   False   False     True   False
Tibor Pleiss   False   False     False  False   False   False     True   False
Jeff Withey    False   False     False  False   False   False    False   False
NaN             True    True      True   True    True    True     True    True

[458 rows x 8 columns]

In [7]:
print(data.fillna(0))
data

                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
Jae Crowder    Boston Celtics    99.0       SF  25.0    6-6   235.0
John Holland   Boston Celtics    30.0       SG  27.0    6-5   205.0
R.J. Hunter    Boston Celtics    28.0       SG  22.0    6-5   185.0
Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
...                       ...     ...      ...   ...    ...     ...
Shelvin Mack        Utah Jazz     8.0       PG  26.0    6-3   203.0
Raul Neto           Utah Jazz    25.0       PG  24.0    6-1   179.0
Tibor Pleiss        Utah Jazz    21.0        C  26.0    7-3   256.0
Jeff Withey         Utah Jazz    24.0        C  26.0    7-0   231.0
NaN                         0     0.0        0   0.0      0     0.0

                         College     Salary
Name
Avery Bradley              Texas  7730337.0
Jae Crowder            Marquette  6796117.0
John Holland   Boston University        0.0
R.J. Hunter        Georgia State  1148640.0
Jonas Jerebko                  0  5000000.0
...                          ...        ...
Shelvin Mack              Butler  2433333.0
Raul Neto                      0   900000.0
Tibor Pleiss                   0  2900000.0
Jeff Withey               Kansas   947276.0
NaN                            0        0.0

[458 rows x 8 columns]

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...
Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#now dropping row with nan values here with 0
print(data.dropna())
data

                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
Jae Crowder    Boston Celtics    99.0       SF  25.0    6-6   235.0
R.J. Hunter    Boston Celtics    28.0       SG  22.0    6-5   185.0
Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
Kelly Olynyk   Boston Celtics    41.0        C  25.0    7-0   238.0
...                       ...     ...      ...   ...    ...     ...
Rodney Hood         Utah Jazz     5.0       SG  23.0    6-8   206.0
Chris Johnson       Utah Jazz    23.0       SF  26.0    6-6   206.0
Trey Lyles          Utah Jazz    41.0       PF  20.0   6-10   234.0
Shelvin Mack        Utah Jazz     8.0       PG  26.0    6-3   203.0
Jeff Withey         Utah Jazz    24.0        C  26.0    7-0   231.0

                     College     Salary
Name
Avery Bradley          Texas  7730337.0
Jae Crowder        Marquette  6796117.0
R.J. Hunter    Georgia State  1148640.0
Jordan Mickey            LSU  1170960.0
Kelly Olynyk         Gonzaga  2165160.0
...                      ...        ...
Rodney Hood             Duke  1348440.0
Chris Johnson         Dayton   981348.0
Trey Lyles          Kentucky  2239800.0
Shelvin Mack          Butler  2433333.0
Jeff Withey           Kansas   947276.0

[364 rows x 8 columns]

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...
Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#iteration using rows
for i,j in data.iterrows():
    print(i,j)
    print()

Avery Bradley Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object

Jae Crowder Team        Boston Celtics
Number                99.0
Position                SF
Age                   25.0
Height                 6-6
Weight               235.0
College          Marquette
Salary           6796117.0
Name: Jae Crowder, dtype: object

John Holland Team           Boston Celtics
Number                   30.0
Position                   SG
Age                      27.0
Height                    6-5
Weight                  205.0
College     Boston University
Salary                    NaN
Name: John Holland, dtype: object

R.J. Hunter Team        Boston Celtics
Number                28.0
Position                SG
Age                   22.0
Height                 6-5
Weight               185.0
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object

Jonas Jerebko Team        Boston Celtics
Number                 8.0
Position                PF
Age                   29.0
Height                6-10
Weight               231.0
College                NaN
Salary           5000000.0
Name: Jonas Jerebko, dtype: object

Amir Johnson Team        Boston Celtics
Number                90.0
Position                PF
Age                   29.0
Height                 6-9
Weight               240.0
College                NaN
Salary          12000000.0
Name: Amir Johnson, dtype: object

Jordan Mickey Team        Boston Celtics
Number                55.0
Position                PF
Age                   21.0
Height                 6-8
Weight               235.0
College                LSU
Salary           1170960.0
Name: Jordan Mickey, dtype: object

Kelly Olynyk Team        Boston Celtics
Number                41.0
Position                 C
Age                   25.0
Height                 7-0
Weight               238.0
College            Gonzaga
Salary           2165160.0
Name: Kelly Olynyk, dtype: object

Terry Rozier Team        Boston Celtics
Number                12.0
Position                PG
Age                   22.0
Height                 6-2
Weight               190.0
College         Louisville
Salary           1824360.0
Name: Terry Rozier, dtype: object

Marcus Smart Team        Boston Celtics
Number                36.0
Position                PG
Age                   22.0
Height                 6-4
Weight               220.0
College     Oklahoma State
Salary           3431040.0
Name: Marcus Smart, dtype: object

Jared Sullinger Team        Boston Celtics
Number                 7.0
Position                 C
Age                   24.0
Height                 6-9
Weight               260.0
College         Ohio State
Salary           2569260.0
Name: Jared Sullinger, dtype: object

Isaiah Thomas Team        Boston Celtics
Number                 4.0
Position                PG
Age                   27.0
Height                 5-9
Weight               185.0
College         Washington
Salary           6912869.0
Name: Isaiah Thomas, dtype: object

Evan Turner Team        Boston Celtics
Number                11.0
Position                SG
Age                   27.0
Height                 6-7
Weight               220.0
College         Ohio State
Salary           3425510.0
Name: Evan Turner, dtype: object

James Young Team        Boston Celtics
Number                13.0
Position                SG
Age                   20.0
Height                 6-6
Weight               215.0
College           Kentucky
Salary           1749840.0
Name: James Young, dtype: object

Tyler Zeller Team        Boston Celtics
Number                44.0
Position                 C
Age                   26.0
Height                 7-0
Weight               253.0
College     North Carolina
Salary           2616975.0
Name: Tyler Zeller, dtype: object

Bojan Bogdanovic Team        Brooklyn Nets
Number               44.0
Position               SG
Age                  27.0
Height                6-8
Weight              216.0
College               NaN
Salary          3425510.0
Name: Bojan Bogdanovic, dtype: object

Markel Brown Team         Brooklyn Nets
Number                22.0
Position                SG
Age                   24.0
Height                 6-3
Weight               190.0
College     Oklahoma State
Salary            845059.0
Name: Markel Brown, dtype: object

Wayne Ellington Team         Brooklyn Nets
Number                21.0
Position                SG
Age                   28.0
Height                 6-4
Weight               200.0
College     North Carolina
Salary           1500000.0
Name: Wayne Ellington, dtype: object

Rondae Hollis-Jefferson Team        Brooklyn Nets
Number               24.0
Position               SG
Age                  21.0
Height                6-7
Weight              220.0
College           Arizona
Salary          1335480.0
Name: Rondae Hollis-Jefferson, dtype: object

Jarrett Jack Team        Brooklyn Nets
Number                2.0
Position               PG
Age                  32.0
Height                6-3
Weight              200.0
College      Georgia Tech
Salary          6300000.0
Name: Jarrett Jack, dtype: object

Sergey Karasev Team        Brooklyn Nets
Number               10.0
Position               SG
Age                  22.0
Height                6-7
Weight              208.0
College               NaN
Salary          1599840.0
Name: Sergey Karasev, dtype: object

Sean Kilpatrick Team        Brooklyn Nets
Number                6.0
Position               SG
Age                  26.0
Height                6-4
Weight              219.0
College        Cincinnati
Salary           134215.0
Name: Sean Kilpatrick, dtype: object

Shane Larkin Team        Brooklyn Nets
Number                0.0
Position               PG
Age                  23.0
Height               5-11
Weight              175.0
College        Miami (FL)
Salary          1500000.0
Name: Shane Larkin, dtype: object

Brook Lopez Team        Brooklyn Nets
Number               11.0
Position                C
Age                  28.0
Height                7-0
Weight              275.0
College          Stanford
Salary         19689000.0
Name: Brook Lopez, dtype: object

Chris McCullough Team        Brooklyn Nets
Number                1.0
Position               PF
Age                  21.0
Height               6-11
Weight              200.0
College          Syracuse
Salary          1140240.0
Name: Chris McCullough, dtype: object

Willie Reed Team        Brooklyn Nets
Number               33.0
Position               PF
Age                  26.0
Height               6-10
Weight              220.0
College       Saint Louis
Salary           947276.0
Name: Willie Reed, dtype: object

Thomas Robinson Team        Brooklyn Nets
Number               41.0
Position               PF
Age                  25.0
Height               6-10
Weight              237.0
College            Kansas
Salary           981348.0
Name: Thomas Robinson, dtype: object

Henry Sims Team        Brooklyn Nets
Number               14.0
Position                C
Age                  26.0
Height               6-10
Weight              248.0
College        Georgetown
Salary           947276.0
Name: Henry Sims, dtype: object

Donald Sloan Team        Brooklyn Nets
Number               15.0
Position               PG
Age                  28.0
Height                6-3
Weight              205.0
College         Texas A&M
Salary           947276.0
Name: Donald Sloan, dtype: object

Thaddeus Young Team        Brooklyn Nets
Number               30.0
Position               PF
Age                  27.0
Height                6-8
Weight              221.0
College      Georgia Tech
Salary         11235955.0
Name: Thaddeus Young, dtype: object

Arron Afflalo Team        New York Knicks
Number                  4.0
Position                 SG
Age                    30.0
Height                  6-5
Weight                210.0
College                UCLA
Salary            8000000.0
Name: Arron Afflalo, dtype: object

Lou Amundson Team        New York Knicks
Number                 17.0
Position                 PF
Age                    33.0
Height                  6-9
Weight                220.0
College                UNLV
Salary            1635476.0
Name: Lou Amundson, dtype: object

Thanasis Antetokounmpo Team        New York Knicks
Number                 43.0
Position                 SF
Age                    23.0
Height                  6-7
Weight                205.0
College                 NaN
Salary              30888.0
Name: Thanasis Antetokounmpo, dtype: object

Carmelo Anthony Team        New York Knicks
Number                  7.0
Position                 SF
Age                    32.0
Height                  6-8
Weight                240.0
College            Syracuse
Salary           22875000.0
Name: Carmelo Anthony, dtype: object

Jose Calderon Team        New York Knicks
Number                  3.0
Position                 PG
Age                    34.0
Height                  6-3
Weight                200.0
College                 NaN
Salary            7402812.0
Name: Jose Calderon, dtype: object

Cleanthony Early Team        New York Knicks
Number                 11.0
Position                 SF
Age                    25.0
Height                  6-8
Weight                210.0
College       Wichita State
Salary             845059.0
Name: Cleanthony Early, dtype: object

Langston Galloway Team        New York Knicks
Number                  2.0
Position                 SG
Age                    24.0
Height                  6-2
Weight                200.0
College      Saint Joseph's
Salary             845059.0
Name: Langston Galloway, dtype: object

Jerian Grant Team        New York Knicks
Number                 13.0
Position                 PG
Age                    23.0
Height                  6-4
Weight                195.0
College          Notre Dame
Salary            1572360.0
Name: Jerian Grant, dtype: object

Robin Lopez Team        New York Knicks
Number                  8.0
Position                  C
Age                    28.0
Height                  7-0
Weight                255.0
College            Stanford
Salary           12650000.0
Name: Robin Lopez, dtype: object

Kyle O'Quinn Team        New York Knicks
Number                  9.0
Position                 PF
Age                    26.0
Height                 6-10
Weight                250.0
College       Norfolk State
Salary            3750000.0
Name: Kyle O'Quinn, dtype: object

Kristaps Porzingis Team        New York Knicks
Number                  6.0
Position                 PF
Age                    20.0
Height                  7-3
Weight                240.0
College                 NaN
Salary            4131720.0
Name: Kristaps Porzingis, dtype: object

Kevin Seraphin Team        New York Knicks
Number                  1.0
Position                  C
Age                    26.0
Height                 6-10
Weight                278.0
College                 NaN
Salary            2814000.0
Name: Kevin Seraphin, dtype: object

Lance Thomas Team        New York Knicks
Number                 42.0
Position                 SF
Age                    28.0
Height                  6-8
Weight                235.0
College                Duke
Salary            1636842.0
Name: Lance Thomas, dtype: object

Sasha Vujacic Team        New York Knicks
Number                 18.0
Position                 SG
Age                    32.0
Height                  6-7
Weight                195.0
College                 NaN
Salary             947276.0
Name: Sasha Vujacic, dtype: object

Derrick Williams Team        New York Knicks
Number                 23.0
Position                 PF
Age                    25.0
Height                  6-8
Weight                240.0
College             Arizona
Salary            4000000.0
Name: Derrick Williams, dtype: object

Tony Wroten Team        New York Knicks
Number                  5.0
Position                 SG
Age                    23.0
Height                  6-6
Weight                205.0
College          Washington
Salary             167406.0
Name: Tony Wroten, dtype: object

Elton Brand Team        Philadelphia 76ers
Number                    42.0
Position                    PF
Age                       37.0
Height                     6-9
Weight                   254.0
College                   Duke
Salary                     NaN
Name: Elton Brand, dtype: object

Isaiah Canaan Team        Philadelphia 76ers
Number                     0.0
Position                    PG
Age                       25.0
Height                     6-0
Weight                   201.0
College           Murray State
Salary                947276.0
Name: Isaiah Canaan, dtype: object

Robert Covington Team        Philadelphia 76ers
Number                    33.0
Position                    SF
Age                       25.0
Height                     6-9
Weight                   215.0
College        Tennessee State
Salary               1000000.0
Name: Robert Covington, dtype: object

Joel Embiid Team        Philadelphia 76ers
Number                    21.0
Position                     C
Age                       22.0
Height                     7-0
Weight                   250.0
College                 Kansas
Salary               4626960.0
Name: Joel Embiid, dtype: object

Jerami Grant Team        Philadelphia 76ers
Number                    39.0
Position                    SF
Age                       22.0
Height                     6-8
Weight                   210.0
College               Syracuse
Salary                845059.0
Name: Jerami Grant, dtype: object

Richaun Holmes Team        Philadelphia 76ers
Number                    22.0
Position                    PF
Age                       22.0
Height                    6-10
Weight                   245.0
College          Bowling Green
Salary               1074169.0
Name: Richaun Holmes, dtype: object

Carl Landry Team        Philadelphia 76ers
Number                     7.0
Position                    PF
Age                       32.0
Height                     6-9
Weight                   248.0
College                 Purdue
Salary               6500000.0
Name: Carl Landry, dtype: object

Kendall Marshall Team        Philadelphia 76ers
Number                     5.0
Position                    PG
Age                       24.0
Height                     6-4
Weight                   200.0
College         North Carolina
Salary               2144772.0
Name: Kendall Marshall, dtype: object

T.J. McConnell Team        Philadelphia 76ers
Number                    12.0
Position                    PG
Age                       24.0
Height                     6-2
Weight                   200.0
College                Arizona
Salary                525093.0
Name: T.J. McConnell, dtype: object

Nerlens Noel Team        Philadelphia 76ers
Number                     4.0
Position                    PF
Age                       22.0
Height                    6-11
Weight                   228.0
College               Kentucky
Salary               3457800.0
Name: Nerlens Noel, dtype: object

Jahlil Okafor Team        Philadelphia 76ers
Number                     8.0
Position                     C
Age                       20.0
Height                    6-11
Weight                   275.0
College                   Duke
Salary               4582680.0
Name: Jahlil Okafor, dtype: object

Ish Smith Team        Philadelphia 76ers
Number                     1.0
Position                    PG
Age                       27.0
Height                     6-0
Weight                   175.0
College            Wake Forest
Salary                947276.0
Name: Ish Smith, dtype: object

Nik Stauskas Team        Philadelphia 76ers
Number                    11.0
Position                    SG
Age                       22.0
Height                     6-6
Weight                   205.0
College               Michigan
Salary               2869440.0
Name: Nik Stauskas, dtype: object

Hollis Thompson Team        Philadelphia 76ers
Number                    31.0
Position                    SG
Age                       25.0
Height                     6-8
Weight                   206.0
College             Georgetown
Salary                947276.0
Name: Hollis Thompson, dtype: object

Christian Wood Team        Philadelphia 76ers
Number                    35.0
Position                    PF
Age                       20.0
Height                    6-11
Weight                   220.0
College                   UNLV
Salary                525093.0
Name: Christian Wood, dtype: object

Bismack Biyombo Team        Toronto Raptors
Number                  8.0
Position                  C
Age                    23.0
Height                  6-9
Weight                245.0
College                 NaN
Salary            2814000.0
Name: Bismack Biyombo, dtype: object

Bruno Caboclo Team        Toronto Raptors
Number                 20.0
Position                 SF
Age                    20.0
Height                  6-9
Weight                205.0
College                 NaN
Salary            1524000.0
Name: Bruno Caboclo, dtype: object

DeMarre Carroll Team        Toronto Raptors
Number                  5.0
Position                 SF
Age                    29.0
Height                  6-8
Weight                212.0
College            Missouri
Salary           13600000.0
Name: DeMarre Carroll, dtype: object

DeMar DeRozan Team        Toronto Raptors
Number                 10.0
Position                 SG
Age                    26.0
Height                  6-7
Weight                220.0
College                 USC
Salary           10050000.0
Name: DeMar DeRozan, dtype: object

James Johnson Team        Toronto Raptors
Number                  3.0
Position                 PF
Age                    29.0
Height                  6-9
Weight                250.0
College         Wake Forest
Salary            2500000.0
Name: James Johnson, dtype: object

Cory Joseph Team        Toronto Raptors
Number                  6.0
Position                 PG
Age                    24.0
Height                  6-3
Weight                190.0
College               Texas
Salary            7000000.0
Name: Cory Joseph, dtype: object

Kyle Lowry Team        Toronto Raptors
Number                  7.0
Position                 PG
Age                    30.0
Height                  6-0
Weight                205.0
College           Villanova
Salary           12000000.0
Name: Kyle Lowry, dtype: object

Lucas Nogueira Team        Toronto Raptors
Number                 92.0
Position                  C
Age                    23.0
Height                  7-0
Weight                220.0
College                 NaN
Salary            1842000.0
Name: Lucas Nogueira, dtype: object

Patrick Patterson Team        Toronto Raptors
Number                 54.0
Position                 PF
Age                    27.0
Height                  6-9
Weight                235.0
College            Kentucky
Salary            6268675.0
Name: Patrick Patterson, dtype: object

Norman Powell Team        Toronto Raptors
Number                 24.0
Position                 SG
Age                    23.0
Height                  6-4
Weight                215.0
College                UCLA
Salary             650000.0
Name: Norman Powell, dtype: object

Terrence Ross Team        Toronto Raptors
Number                 31.0
Position                 SF
Age                    25.0
Height                  6-7
Weight                195.0
College          Washington
Salary            3553917.0
Name: Terrence Ross, dtype: object

Luis Scola Team        Toronto Raptors
Number                  4.0
Position                 PF
Age                    36.0
Height                  6-9
Weight                240.0
College                 NaN
Salary            2900000.0
Name: Luis Scola, dtype: object

Jason Thompson Team        Toronto Raptors
Number                  1.0
Position                 PF
Age                    29.0
Height                 6-11
Weight                250.0
College               Rider
Salary             245177.0
Name: Jason Thompson, dtype: object

Jonas Valanciunas Team        Toronto Raptors
Number                 17.0
Position                  C
Age                    24.0
Height                  7-0
Weight                255.0
College                 NaN
Salary            4660482.0
Name: Jonas Valanciunas, dtype: object

Delon Wright Team        Toronto Raptors
Number                 55.0
Position                 PG
Age                    24.0
Height                  6-5
Weight                190.0
College                Utah
Salary            1509360.0
Name: Delon Wright, dtype: object

Leandro Barbosa Team        Golden State Warriors
Number                       19.0
Position                       SG
Age                          33.0
Height                        6-3
Weight                      194.0
College                       NaN
Salary                  2500000.0
Name: Leandro Barbosa, dtype: object

Harrison Barnes Team        Golden State Warriors
Number                       40.0
Position                       SF
Age                          24.0
Height                        6-8
Weight                      225.0
College            North Carolina
Salary                  3873398.0
Name: Harrison Barnes, dtype: object

Andrew Bogut Team        Golden State Warriors
Number                       12.0
Position                        C
Age                          31.0
Height                        7-0
Weight                      260.0
College                      Utah
Salary                 13800000.0
Name: Andrew Bogut, dtype: object

Ian Clark Team        Golden State Warriors
Number                       21.0
Position                       SG
Age                          25.0
Height                        6-3
Weight                      175.0
College                   Belmont
Salary                   947276.0
Name: Ian Clark, dtype: object

Stephen Curry Team        Golden State Warriors
Number                       30.0
Position                       PG
Age                          28.0
Height                        6-3
Weight                      190.0
College                  Davidson
Salary                 11370786.0
Name: Stephen Curry, dtype: object

Festus Ezeli Team        Golden State Warriors
Number                       31.0
Position                        C
Age                          26.0
Height                       6-11
Weight                      265.0
College                Vanderbilt
Salary                  2008748.0
Name: Festus Ezeli, dtype: object

Draymond Green Team        Golden State Warriors
Number                       23.0
Position                       PF
Age                          26.0
Height                        6-7
Weight                      230.0
College            Michigan State
Salary                 14260870.0

Name: Draymond Green, dtype: object

Andre Iguodala Team        Golden State Warriors
Number                        9.0
Position                       SF
Age                          32.0
Height                        6-6
Weight                      215.0
College                   Arizona
Salary                 11710456.0
Name: Andre Iguodala, dtype: object

Shaun Livingston Team        Golden State Warriors
Number                       34.0
Position                       PG
Age                          30.0
Height                        6-7
Weight                      192.0
College                       NaN
Salary                  5543725.0
Name: Shaun Livingston, dtype: object

Kevon Looney Team        Golden State Warriors
Number                       36.0
Position                       SF
Age                          20.0
Height                        6-9
Weight                      220.0
College                      UCLA
Salary                  1131960.0
Name: Kevon Looney, dtype: object

James Michael McAdoo Team        Golden State Warriors
Number                       20.0
Position                       SF
Age                          23.0
Height                        6-9
Weight                      240.0
College            North Carolina
Salary                   845059.0
Name: James Michael McAdoo, dtype: object

Brandon Rush Team        Golden State Warriors
Number                        4.0
Position                       SF
Age                          30.0
Height                        6-6
Weight                      220.0
College                    Kansas
Salary                  1270964.0
Name: Brandon Rush, dtype: object

Marreese Speights Team        Golden State Warriors
Number                        5.0
Position                        C
Age                          28.0
Height                       6-10
Weight                      255.0
College                   Florida
Salary                  3815000.0
Name: Marreese Speights, dtype: object

Klay Thompson Team        Golden State Warriors
Number                       11.0
Position                       SG
Age                          26.0
Height                        6-7
Weight                      215.0
College          Washington State
Salary                 15501000.0
Name: Klay Thompson, dtype: object

Anderson Varejao Team        Golden State Warriors
Number                       18.0
Position                       PF
Age                          33.0
Height                       6-11
Weight                      273.0
College                       NaN
Salary                   289755.0
Name: Anderson Varejao, dtype: object

Cole Aldrich Team        Los Angeles Clippers
Number                      45.0
Position                       C
Age                         27.0
Height                      6-11
Weight                     250.0
College                   Kansas
Salary                 1100602.0
Name: Cole Aldrich, dtype: object

Jeff Ayres Team        Los Angeles Clippers
Number                      19.0
Position                      PF
Age                         29.0
Height                       6-9
Weight                     250.0
College            Arizona State
Salary                  111444.0
Name: Jeff Ayres, dtype: object

Jamal Crawford Team        Los Angeles Clippers
Number                      11.0
Position                      SG
Age                         36.0
Height                       6-5
Weight                     195.0
College                 Michigan
Salary                 5675000.0
Name: Jamal Crawford, dtype: object

Branden Dawson Team        Los Angeles Clippers
Number                      22.0
Position                      SF
Age                         23.0
Height                       6-6
Weight                     225.0
College           Michigan State
Salary                  525093.0
Name: Branden Dawson, dtype: object

Jeff Green Team        Los Angeles Clippers
Number                       8.0
Position                      SF
Age                         29.0
Height                       6-9
Weight                     235.0
College               Georgetown
Salary                 9650000.0
Name: Jeff Green, dtype: object

Blake Griffin Team        Los Angeles Clippers
Number                      32.0
Position                      PF
Age                         27.0
Height                      6-10
Weight                     251.0
College                 Oklahoma
Salary                18907726.0
Name: Blake Griffin, dtype: object

Wesley Johnson Team        Los Angeles Clippers
Number                      33.0
Position                      SF
Age                         28.0
Height                       6-7
Weight                     215.0
College                 Syracuse
Salary                 1100602.0
Name: Wesley Johnson, dtype: object

DeAndre Jordan Team        Los Angeles Clippers
Number                       6.0
Position                       C
Age                         27.0
Height                      6-11
Weight                     265.0
College                Texas A&M
Salary                19689000.0
Name: DeAndre Jordan, dtype: object

Luc Richard Mbah a Moute Team        Los Angeles Clippers
Number                      12.0
Position                      PF
Age                         29.0
Height                       6-8
Weight                     230.0
College                     UCLA
Salary                  947276.0
Name: Luc Richard Mbah a Moute, dtype: object

Chris Paul Team        Los Angeles Clippers
Number                       3.0
Position                      PG
Age                         31.0
Height                       6-0
Weight                     175.0
College              Wake Forest
Salary                21468695.0
Name: Chris Paul, dtype: object

Paul Pierce Team        Los Angeles Clippers
Number                      34.0
Position                      SF
Age                         38.0
Height                       6-7
Weight                     235.0
College                   Kansas
Salary                 3376000.0
Name: Paul Pierce, dtype: object

Pablo Prigioni Team        Los Angeles Clippers
Number                       9.0
Position                      PG
Age                         39.0
Height                       6-3
Weight                     185.0
College                      NaN
Salary                  947726.0
Name: Pablo Prigioni, dtype: object

JJ Redick Team        Los Angeles Clippers
Number                       4.0
Position                      SG
Age                         31.0
Height                       6-4
Weight                     190.0
College                     Duke
Salary                 7085000.0
Name: JJ Redick, dtype: object

Austin Rivers Team        Los Angeles Clippers
Number                      25.0
Position                      PG
Age                         23.0
Height                       6-4
Weight                     200.0
College                     Duke
Salary                 3110796.0
Name: Austin Rivers, dtype: object

C.J. Wilcox Team        Los Angeles Clippers
Number                      30.0
Position                      SG
Age                         25.0
Height                       6-5
Weight                     195.0
College               Washington
Salary                 1159680.0
Name: C.J. Wilcox, dtype: object

Brandon Bass Team        Los Angeles Lakers
Number                     2.0
Position                    PF
Age                       31.0
Height                     6-8
Weight                   250.0
College                    LSU
Salary               3000000.0
Name: Brandon Bass, dtype: object

Tarik Black Team        Los Angeles Lakers
Number                    28.0
Position                     C
Age                       24.0
Height                     6-9
Weight                   250.0
College                 Kansas
Salary                845059.0
Name: Tarik Black, dtype: object

Anthony Brown Team        Los Angeles Lakers
Number                     3.0
Position                    SF
Age                       23.0
Height                     6-7
Weight                   210.0
College               Stanford
Salary                700000.0
Name: Anthony Brown, dtype: object

Kobe Bryant Team        Los Angeles Lakers
Number                    24.0
Position                    SF
Age                       37.0
Height                     6-6
Weight                   212.0
College                    NaN
Salary              25000000.0
Name: Kobe Bryant, dtype: object

Jordan Clarkson Team        Los Angeles Lakers
Number                     6.0
Position                    PG
Age                       24.0
Height                     6-5
Weight                   194.0
College               Missouri
Salary                845059.0
Name: Jordan Clarkson, dtype: object

Roy Hibbert Team        Los Angeles Lakers
Number                    17.0
Position                     C
Age                       29.0
Height                     7-2
Weight                   270.0
College             Georgetown
Salary              15592217.0
Name: Roy Hibbert, dtype: object

Marcelo Huertas Team        Los Angeles Lakers
Number                     9.0
Position                    PG
Age                       33.0
Height                     6-3
Weight                   200.0
College                    NaN
Salary                525093.0
Name: Marcelo Huertas, dtype: object

Ryan Kelly Team        Los Angeles Lakers
Number                     4.0
Position                    PF
Age                       25.0
Height                    6-11
Weight                   230.0
College                   Duke
Salary               1724250.0
Name: Ryan Kelly, dtype: object

Larry Nance Jr. Team        Los Angeles Lakers
Number                     7.0
Position                    PF
Age                       23.0
Height                     6-9
Weight                   230.0
College                Wyoming
Salary               1155600.0
Name: Larry Nance Jr., dtype: object

Julius Randle Team        Los Angeles Lakers
Number                    30.0
Position                    PF
Age                       21.0
Height                     6-9
Weight                   250.0
College               Kentucky
Salary               3132240.0
Name: Julius Randle, dtype: object

D'Angelo Russell Team        Los Angeles Lakers
Number                     1.0
Position                    PG
Age                       20.0
Height                     6-5
Weight                   195.0
College             Ohio State
Salary               5103120.0
Name: D'Angelo Russell, dtype: object

Robert Sacre Team        Los Angeles Lakers
Number                    50.0
Position                     C
Age                       27.0
Height                     7-0
Weight                   270.0
College                Gonzaga
Salary                981348.0
Name: Robert Sacre, dtype: object

Louis Williams Team        Los Angeles Lakers
Number                    23.0
Position                    SG
Age                       29.0
Height                     6-1
Weight                   175.0
College                    NaN
Salary               7000000.0
Name: Louis Williams, dtype: object

Metta World Peace Team        Los Angeles Lakers
Number                    37.0
Position                    SF
Age                       36.0
Height                     6-7
Weight                   260.0
College             St. John's
Salary                947276.0
Name: Metta World Peace, dtype: object

Nick Young Team        Los Angeles Lakers
Number                     0.0
Position                    SF
Age                       31.0
Height                     6-7
Weight                   210.0
College                    USC
Salary               5219169.0
Name: Nick Young, dtype: object

Eric Bledsoe Team        Phoenix Suns
Number               2.0
Position              PG
Age                 26.0
Height               6-1
Weight             190.0
College         Kentucky
Salary        13500000.0
Name: Eric Bledsoe, dtype: object

Devin Booker Team        Phoenix Suns
Number               1.0
Position              SG
Age                 19.0
Height               6-6
Weight             206.0
College         Kentucky
Salary         2127840.0
Name: Devin Booker, dtype: object

Chase Budinger Team        Phoenix Suns
Number              10.0
Position              SF
Age                 28.0
Height               6-7
Weight             209.0
College          Arizona
Salary          206192.0
Name: Chase Budinger, dtype: object

Tyson Chandler Team        Phoenix Suns
Number               4.0
Position               C
Age                 33.0
Height               7-1
Weight             240.0
College              NaN
Salary        13000000.0
Name: Tyson Chandler, dtype: object

Archie Goodwin Team        Phoenix Suns
Number              20.0
Position              SG
Age                 21.0
Height               6-5
Weight             200.0
College         Kentucky
Salary         1160160.0
Name: Archie Goodwin, dtype: object

John Jenkins Team        Phoenix Suns
Number              23.0
Position              SG
Age                 25.0
Height               6-4
Weight             215.0
College       Vanderbilt
Salary          981348.0

Name: John Jenkins, dtype: object

Brandon Knight Team        Phoenix Suns
Number               3.0
Position              PG
Age                 24.0
Height               6-3
Weight             189.0
College         Kentucky
Salary        13500000.0
Name: Brandon Knight, dtype: object

Alex Len Team        Phoenix Suns
Number              21.0
Position               C
Age                 22.0
Height               7-1
Weight             260.0
College         Maryland
Salary         3807120.0
Name: Alex Len, dtype: object

Jon Leuer Team        Phoenix Suns
Number              30.0
Position              PF
Age                 27.0
Height              6-10
Weight             228.0
College        Wisconsin
Salary         1035000.0
Name: Jon Leuer, dtype: object

Phil Pressey Team        Phoenix Suns
Number              25.0
Position              PG
Age                 25.0
Height              5-11
Weight             175.0
College         Missouri
Salary           55722.0
Name: Phil Pressey, dtype: object

Ronnie Price Team        Phoenix Suns
Number              14.0
Position              PG
Age                 32.0
Height               6-2
Weight             190.0
College      Utah Valley
Salary          947276.0
Name: Ronnie Price, dtype: object

Mirza Teletovic Team        Phoenix Suns
Number              35.0
Position              PF
Age                 30.0
Height               6-9
Weight             242.0
College              NaN
Salary         5500000.0
Name: Mirza Teletovic, dtype: object

P.J. Tucker Team        Phoenix Suns
Number              17.0
Position              SF
Age                 31.0
Height               6-6
Weight             245.0
College            Texas
Salary         5500000.0
Name: P.J. Tucker, dtype: object

T.J. Warren Team                Phoenix Suns
Number                      12.0
Position                      SF
Age                         22.0
Height                       6-8
Weight                     230.0
College     North Carolina State
Salary                 2041080.0
Name: T.J. Warren, dtype: object

Alan Williams Team            Phoenix Suns
Number                  15.0
Position                   C
Age                     23.0
Height                   6-8
Weight                 260.0
College     UC Santa Barbara
Salary               83397.0
Name: Alan Williams, dtype: object

Quincy Acy Team        Sacramento Kings
Number                  13.0
Position                  SF
Age                     25.0
Height                   6-7
Weight                 240.0
College               Baylor
Salary              981348.0
Name: Quincy Acy, dtype: object

James Anderson Team        Sacramento Kings
Number                   5.0
Position                  SG
Age                     27.0
Height                   6-6
Weight                 213.0
College       Oklahoma State
Salary             1015421.0
Name: James Anderson, dtype: object

Marco Belinelli Team        Sacramento Kings
Number                   3.0
Position                  SG
Age                     30.0
Height                   6-5
Weight                 210.0
College                  NaN
Salary             6060606.0
Name: Marco Belinelli, dtype: object

Caron Butler Team        Sacramento Kings
Number                  31.0
Position                  SF
Age                     36.0
Height                   6-7
Weight                 228.0
College          Connecticut
Salary             1449187.0
Name: Caron Butler, dtype: object

Omri Casspi Team        Sacramento Kings
Number                  18.0
Position                  SF
Age                     27.0
Height                   6-9
Weight                 225.0
College                  NaN
Salary             2836186.0
Name: Omri Casspi, dtype: object

Willie Cauley-Stein Team        Sacramento Kings
Number                   0.0
Position                   C
Age                     22.0
Height                   7-0
Weight                 240.0
College             Kentucky
Salary             3398280.0
Name: Willie Cauley-Stein, dtype: object

Darren Collison Team        Sacramento Kings
Number                   7.0
Position                  PG
Age                     28.0
Height                   6-0
Weight                 175.0
College                 UCLA
Salary             5013559.0
Name: Darren Collison, dtype: object

DeMarcus Cousins Team        Sacramento Kings
Number                  15.0
Position                   C
Age                     25.0
Height                  6-11
Weight                 270.0
College             Kentucky
Salary            15851950.0
Name: DeMarcus Cousins, dtype: object

Seth Curry Team        Sacramento Kings
Number                  30.0
Position                  SG
Age                     25.0
Height                   6-2
Weight                 185.0
College                 Duke
Salary              947276.0
Name: Seth Curry, dtype: object

Duje Dukan Team        Sacramento Kings
Number                  26.0
Position                  PF
Age                     24.0
Height                   6-9
Weight                 220.0
College            Wisconsin
Salary              525093.0
Name: Duje Dukan, dtype: object

Rudy Gay Team        Sacramento Kings
Number                   8.0
Position                  SF
Age                     29.0
Height                   6-8
Weight                 230.0
College          Connecticut
Salary            12403101.0
Name: Rudy Gay, dtype: object

Kosta Koufos Team        Sacramento Kings
Number                  41.0
Position                   C
Age                     27.0
Height                   7-0
Weight                 265.0
College           Ohio State
Salary             7700000.0
Name: Kosta Koufos, dtype: object

Ben McLemore Team        Sacramento Kings
Number                  23.0
Position                  SG
Age                     23.0
Height                   6-5
Weight                 195.0
College               Kansas
Salary             3156600.0
Name: Ben McLemore, dtype: object

Eric Moreland Team        Sacramento Kings
Number                  25.0
Position                  PF
Age                     24.0
Height                  6-10
Weight                 238.0
College         Oregon State
Salary              845059.0
Name: Eric Moreland, dtype: object

Rajon Rondo Team        Sacramento Kings
Number                   9.0
Position                  PG
Age                     30.0
Height                   6-1
Weight                 186.0
College             Kentucky
Salary             9500000.0
Name: Rajon Rondo, dtype: object

Cameron Bairstow Team        Chicago Bulls
Number               41.0
Position               PF
Age                  25.0
Height                6-9
Weight              250.0
College        New Mexico
Salary           845059.0
Name: Cameron Bairstow, dtype: object

Aaron Brooks Team        Chicago Bulls
Number                0.0
Position               PG
Age                  31.0
Height                6-0
Weight              161.0
College            Oregon
Salary          2250000.0
Name: Aaron Brooks, dtype: object

Jimmy Butler Team        Chicago Bulls
Number               21.0
Position               SG
Age                  26.0
Height                6-7
Weight              220.0
College         Marquette
Salary         16407500.0
Name: Jimmy Butler, dtype: object

Mike Dunleavy Team        Chicago Bulls
Number               34.0
Position               SG
Age                  35.0
Height                6-9
Weight              230.0
College              Duke
Salary          4500000.0
Name: Mike Dunleavy, dtype: object

Cristiano Felicio Team        Chicago Bulls
Number                6.0
Position               PF
Age                  23.0
Height               6-10
Weight              275.0
College               NaN
Salary           525093.0
Name: Cristiano Felicio, dtype: object

Pau Gasol Team        Chicago Bulls
Number               16.0
Position                C
Age                  35.0
Height                7-0
Weight              250.0
College               NaN
Salary          7448760.0
Name: Pau Gasol, dtype: object

Taj Gibson Team        Chicago Bulls
Number               22.0
Position               PF
Age                  30.0
Height                6-9
Weight              225.0
College               USC
Salary          8500000.0
Name: Taj Gibson, dtype: object

Justin Holiday Team        Chicago Bulls
Number                7.0
Position               SG
Age                  27.0
Height                6-6
Weight              185.0
College        Washington
Salary           947276.0
Name: Justin Holiday, dtype: object

Doug McDermott Team        Chicago Bulls
Number                3.0
Position               SF
Age                  24.0
Height                6-8
Weight              225.0
College         Creighton
Salary          2380440.0
Name: Doug McDermott, dtype: object

Nikola Mirotic Team        Chicago Bulls
Number               44.0
Position               PF
Age                  25.0
Height               6-10
Weight              220.0
College               NaN
Salary          5543725.0
Name: Nikola Mirotic, dtype: object

E'Twaun Moore Team        Chicago Bulls
Number               55.0
Position               SG
Age                  27.0
Height                6-4
Weight              191.0
College            Purdue
Salary          1015421.0
Name: E'Twaun Moore, dtype: object

Joakim Noah Team        Chicago Bulls
Number               13.0
Position                C
Age                  31.0
Height               6-11
Weight              232.0
College           Florida
Salary         13400000.0
Name: Joakim Noah, dtype: object

Bobby Portis Team        Chicago Bulls
Number                5.0
Position               PF
Age                  21.0
Height               6-11
Weight              230.0
College          Arkansas
Salary          1391160.0
Name: Bobby Portis, dtype: object

Derrick Rose Team        Chicago Bulls
Number                1.0
Position               PG
Age                  27.0
Height                6-3
Weight              190.0
College           Memphis
Salary         20093064.0
Name: Derrick Rose, dtype: object

Tony Snell Team        Chicago Bulls
Number               20.0
Position               SF
Age                  24.0
Height                6-7
Weight              200.0
College        New Mexico
Salary          1535880.0

Name: Tony Snell, dtype: object

Matthew Dellavedova Team        Cleveland Cavaliers
Number                      8.0
Position                     PG
Age                        25.0
Height                      6-4
Weight                    198.0
College            Saint Mary's
Salary                1147276.0
Name: Matthew Dellavedova, dtype: object

Channing Frye Team        Cleveland Cavaliers
Number                      9.0
Position                     PF
Age                        33.0
Height                     6-11
Weight                    255.0
College                 Arizona
Salary                8193029.0
Name: Channing Frye, dtype: object

Kyrie Irving Team        Cleveland Cavaliers
Number                      2.0
Position                     PG
Age                        24.0
Height                      6-3
Weight                    193.0
College                    Duke
Salary               16407501.0
Name: Kyrie Irving, dtype: object

LeBron James Team        Cleveland Cavaliers
Number                     23.0
Position                     SF
Age                        31.0
Height                      6-8
Weight                    250.0
College                     NaN
Salary               22970500.0
Name: LeBron James, dtype: object

Richard Jefferson Team        Cleveland Cavaliers
Number                     24.0
Position                     SF
Age                        35.0
Height                      6-7
Weight                    233.0
College                 Arizona
Salary                 947276.0
Name: Richard Jefferson, dtype: object

Dahntay Jones Team        Cleveland Cavaliers
Number                     30.0
Position                     SG
Age                        35.0
Height                      6-6
Weight                    225.0
College                    Duke
Salary                      NaN
Name: Dahntay Jones, dtype: object

James Jones Team        Cleveland Cavaliers
Number                      1.0
Position                     SG
Age                        35.0
Height                      6-8
Weight                    218.0
College              Miami (FL)
Salary                 947276.0
Name: James Jones, dtype: object

Sasha Kaun Team        Cleveland Cavaliers
Number                     14.0
Position                      C
Age                        31.0
Height                     6-11
Weight                    260.0
College                  Kansas
Salary                1276000.0
Name: Sasha Kaun, dtype: object

Kevin Love Team        Cleveland Cavaliers
Number                      0.0
Position                     PF
Age                        27.0
Height                     6-10
Weight                    251.0
College                    UCLA
Salary               19689000.0
Name: Kevin Love, dtype: object

Jordan McRae Team        Cleveland Cavaliers
Number                     12.0
Position                     SG
Age                        25.0
Height                      6-5
Weight                    179.0
College               Tennessee
Salary                 111196.0
Name: Jordan McRae, dtype: object

Timofey Mozgov Team        Cleveland Cavaliers
Number                     20.0
Position                      C
Age                        29.0
Height                      7-1
Weight                    275.0
College                     NaN
Salary                4950000.0
Name: Timofey Mozgov, dtype: object

Iman Shumpert Team        Cleveland Cavaliers
Number                      4.0
Position                     SG
Age                        25.0
Height                      6-5
Weight                    220.0
College            Georgia Tech
Salary                8988765.0
Name: Iman Shumpert, dtype: object

J.R. Smith Team        Cleveland Cavaliers
Number                      5.0
Position                     SG
Age                        30.0
Height                      6-6
Weight                    225.0
College                     NaN
Salary                5000000.0
Name: J.R. Smith, dtype: object

Tristan Thompson Team        Cleveland Cavaliers
Number                     13.0
Position                      C
Age                        25.0
Height                      6-9
Weight                    238.0
College                   Texas
Salary               14260870.0
Name: Tristan Thompson, dtype: object

Mo Williams Team        Cleveland Cavaliers
Number                     52.0
Position                     PG
Age                        33.0
Height                      6-1
Weight                    198.0
College                 Alabama
Salary                2100000.0
Name: Mo Williams, dtype: object

Joel Anthony Team        Detroit Pistons
Number                 50.0
Position                  C
Age                    33.0
Height                  6-9
Weight                245.0
College                UNLV
Salary            2500000.0
Name: Joel Anthony, dtype: object

Aron Baynes Team         Detroit Pistons
Number                  12.0
Position                   C
Age                     29.0
Height                  6-10
Weight                 260.0
College     Washington State
Salary             6500000.0
Name: Aron Baynes, dtype: object

Steve Blake Team        Detroit Pistons
Number                 22.0
Position                 PG
Age                    36.0
Height                  6-3
Weight                172.0
College            Maryland
Salary            2170465.0
Name: Steve Blake, dtype: object

Lorenzo Brown Team             Detroit Pistons
Number                      17.0
Position                      PG
Age                         25.0
Height                       6-5
Weight                     189.0
College     North Carolina State
Salary                  111444.0
Name: Lorenzo Brown, dtype: object

Reggie Bullock Team        Detroit Pistons
Number                 25.0
Position                 SF
Age                    25.0
Height                  6-7
Weight                205.0
College      North Carolina
Salary            1252440.0
Name: Reggie Bullock, dtype: object

Kentavious Caldwell-Pope Team        Detroit Pistons
Number                  5.0
Position                 SG
Age                    23.0
Height                  6-5
Weight                205.0
College             Georgia
Salary            2891760.0
Name: Kentavious Caldwell-Pope, dtype: object

Spencer Dinwiddie Team        Detroit Pistons
Number                  8.0
Position                 PG
Age                    23.0
Height                  6-6
Weight                200.0
College            Colorado
Salary             845059.0
Name: Spencer Dinwiddie, dtype: object

Andre Drummond Team        Detroit Pistons
Number                  0.0
Position                  C
Age                    22.0
Height                 6-11
Weight                279.0
College         Connecticut
Salary            3272091.0
Name: Andre Drummond, dtype: object

Tobias Harris Team        Detroit Pistons
Number                 34.0
Position                 SF
Age                    23.0
Height                  6-9
Weight                235.0
College           Tennessee
Salary           16000000.0
Name: Tobias Harris, dtype: object

Darrun Hilliard Team        Detroit Pistons
Number                  6.0
Position                 SF
Age                    23.0
Height                  6-6
Weight                205.0
College           Villanova
Salary             600000.0
Name: Darrun Hilliard, dtype: object

Reggie Jackson Team        Detroit Pistons
Number                  1.0
Position                 PG
Age                    26.0
Height                  6-3
Weight                208.0
College      Boston College
Salary           13913044.0
Name: Reggie Jackson, dtype: object

Stanley Johnson Team        Detroit Pistons
Number                  3.0
Position                 SF
Age                    20.0
Height                  6-7
Weight                245.0
College             Arizona
Salary            2841960.0
Name: Stanley Johnson, dtype: object

Jodie Meeks Team        Detroit Pistons
Number                 20.0
Position                 SG
Age                    28.0
Height                  6-4
Weight                210.0
College            Kentucky
Salary            6270000.0
Name: Jodie Meeks, dtype: object

Marcus Morris Team        Detroit Pistons
Number                 13.0
Position                 PF
Age                    26.0
Height                  6-9
Weight                235.0
College              Kansas
Salary            5000000.0
Name: Marcus Morris, dtype: object

Anthony Tolliver Team        Detroit Pistons
Number                 43.0
Position                 PF
Age                    31.0
Height                  6-8
Weight                240.0
College           Creighton
Salary            3000000.0
Name: Anthony Tolliver, dtype: object

Lavoy Allen Team        Indiana Pacers
Number                 5.0
Position                PF
Age                   27.0
Height                 6-9
Weight               255.0
College             Temple
Salary           4050000.0
Name: Lavoy Allen, dtype: object

Rakeem Christmas Team        Indiana Pacers
Number                25.0
Position                PF
Age                   24.0
Height                 6-9
Weight               250.0
College           Syracuse
Salary           1007026.0
Name: Rakeem Christmas, dtype: object

Monta Ellis Team        Indiana Pacers
Number                11.0
Position                SG
Age                   30.0
Height                 6-3
Weight               185.0
College                NaN
Salary          10300000.0
Name: Monta Ellis, dtype: object

Paul George Team        Indiana Pacers
Number                13.0
Position                SF
Age                   26.0
Height                 6-9
Weight               220.0
College       Fresno State
Salary          17120106.0
Name: Paul George, dtype: object

George Hill Team        Indiana Pacers
Number                 3.0
Position                PG
Age                   30.0
Height                 6-3
Weight               188.0
College              IUPUI
Salary           8000000.0
Name: George Hill, dtype: object

Jordan Hill Team        Indiana Pacers
Number                27.0
Position                 C
Age                   28.0
Height                6-10
Weight               235.0
College            Arizona
Salary           4000000.0
Name: Jordan Hill, dtype: object

Solomon Hill Team        Indiana Pacers
Number                44.0
Position                SF
Age                   25.0
Height                 6-7
Weight               225.0
College            Arizona
Salary           1358880.0
Name: Solomon Hill, dtype: object

Ty Lawson Team        Indiana Pacers
Number                10.0
Position                PG
Age                   28.0
Height                5-11
Weight               195.0
College     North Carolina
Salary            211744.0
Name: Ty Lawson, dtype: object

Ian Mahinmi Team        Indiana Pacers
Number                28.0
Position                 C
Age                   29.0
Height                6-11
Weight               250.0
College                NaN
Salary           4000000.0
Name: Ian Mahinmi, dtype: object

C.J. Miles Team        Indiana Pacers
Number                 0.0
Position                SF
Age                   29.0
Height                 6-6
Weight               231.0
College                NaN
Salary           4394225.0
Name: C.J. Miles, dtype: object

Glenn Robinson III Team        Indiana Pacers
Number                40.0
Position                SG
Age                   22.0
Height                 6-7
Weight               222.0
College           Michigan
Salary           1100000.0
Name: Glenn Robinson III, dtype: object

Rodney Stuckey Team            Indiana Pacers
Number                     2.0
Position                    PG
Age                       30.0
Height                     6-5
Weight                   205.0
College     Eastern Washington
Salary               7000000.0
Name: Rodney Stuckey, dtype: object

Myles Turner Team        Indiana Pacers
Number                33.0
Position                PF
Age                   20.0
Height                6-11
Weight               243.0
College              Texas
Salary           2357760.0
Name: Myles Turner, dtype: object

Shayne Whittington Team          Indiana Pacers
Number                  42.0
Position                  PF
Age                     25.0
Height                  6-11
Weight                 250.0
College     Western Michigan
Salary              845059.0
Name: Shayne Whittington, dtype: object

Joe Young Team        Indiana Pacers
Number                 1.0
Position                PG
Age                   23.0
Height                 6-2
Weight               180.0
College             Oregon
Salary           1007026.0
Name: Joe Young, dtype: object

Giannis Antetokounmpo Team        Milwaukee Bucks
Number                 34.0
Position                 SF
Age                    21.0
Height                 6-11
Weight                222.0
College                 NaN
Salary            1953960.0
Name: Giannis Antetokounmpo, dtype: object

Jerryd Bayless Team        Milwaukee Bucks
Number                 19.0
Position                 PG
Age                    27.0
Height                  6-3
Weight                200.0
College             Arizona
Salary            3000000.0
Name: Jerryd Bayless, dtype: object

Michael Carter-Williams Team        Milwaukee Bucks
Number                  5.0
Position                 PG
Age                    24.0
Height                  6-6
Weight                190.0
College            Syracuse
Salary            2399040.0
Name: Michael Carter-Williams, dtype: object

Jared Cunningham Team        Milwaukee Bucks
Number                  9.0
Position                 SG
Age                    25.0
Height                  6-4
Weight                195.0
College        Oregon State
Salary             947276.0
Name: Jared Cunningham, dtype: object

Tyler Ennis Team        Milwaukee Bucks
Number                 11.0
Position                 PG
Age                    21.0
Height                  6-3
Weight                194.0
College            Syracuse
Salary            1662360.0
Name: Tyler Ennis, dtype: object

John Henson Team        Milwaukee Bucks
Number                 31.0
Position                 PF
Age                    25.0
Height                 6-11
Weight                229.0
College      North Carolina
Salary            2943221.0
Name: John Henson, dtype: object

Damien Inglis Team        Milwaukee Bucks
Number                 17.0
Position                 SF
Age                    21.0
Height                  6-8
Weight                246.0
College                 NaN
Salary             855000.0
Name: Damien Inglis, dtype: object

O.J. Mayo Team        Milwaukee Bucks
Number                  3.0
Position                 SG
Age                    28.0
Height                  6-5
Weight                210.0
College                 USC
Salary            8000000.0
Name: O.J. Mayo, dtype: object

Khris Middleton Team        Milwaukee Bucks
Number                 22.0
Position                 SG
Age                    24.0
Height                  6-8
Weight                234.0
College           Texas A&M
Salary           14700000.0
Name: Khris Middleton, dtype: object

Greg Monroe Team        Milwaukee Bucks
Number                 15.0
Position                  C
Age                    26.0
Height                 6-11
Weight                265.0
College          Georgetown
Salary           16407500.0
Name: Greg Monroe, dtype: object

Steve Novak Team        Milwaukee Bucks
Number                  6.0
Position                 SF
Age                    32.0
Height                 6-10
Weight                225.0
College           Marquette
Salary             295327.0
Name: Steve Novak, dtype: object

Johnny O'Bryant III Team        Milwaukee Bucks
Number                 77.0
Position                 PF
Age                    23.0
Height                  6-9
Weight                257.0
College                 LSU
Salary             845059.0
Name: Johnny O'Bryant III, dtype: object

Jabari Parker Team        Milwaukee Bucks
Number                 12.0
Position                 PF
Age                    21.0
Height                  6-8
Weight                250.0
College                Duke
Salary            5152440.0
Name: Jabari Parker, dtype: object

Miles Plumlee Team        Milwaukee Bucks
Number                 18.0
Position                  C
Age                    27.0
Height                 6-11
Weight                249.0
College                Duke
Salary            2109294.0
Name: Miles Plumlee, dtype: object

Greivis Vasquez Team        Milwaukee Bucks
Number                 21.0
Position                 PG
Age                    29.0
Height                  6-6
Weight                217.0
College            Maryland
Salary            6600000.0
Name: Greivis Vasquez, dtype: object

Rashad Vaughn Team        Milwaukee Bucks
Number                 20.0
Position                 SG
Age                    19.0
Height                  6-6
Weight                202.0
College                UNLV
Salary            1733040.0
Name: Rashad Vaughn, dtype: object

Justin Anderson Team        Dallas Mavericks
Number                   1.0
Position                  SG
Age                     22.0
Height                   6-6
Weight                 228.0
College             Virginia
Salary             1449000.0
Name: Justin Anderson, dtype: object

J.J. Barea Team        Dallas Mavericks
Number                   5.0
Position                  PG
Age                     31.0
Height                   6-0
Weight                 185.0
College         Northeastern
Salary             4290000.0
Name: J.J. Barea, dtype: object

Jeremy Evans Team        Dallas Mavericks
Number                  21.0
Position                  SF
Age                     28.0
Height                   6-9
Weight                 200.0
College     Western Kentucky
Salary             1100602.0
Name: Jeremy Evans, dtype: object

Raymond Felton Team        Dallas Mavericks
Number                   2.0
Position                  PG
Age                     31.0
Height                   6-1
Weight                 205.0
College       North Carolina
Salary             3950313.0

Name: Raymond Felton, dtype: object

Devin Harris Team        Dallas Mavericks
Number                  34.0
Position                  PG
Age                     33.0
Height                   6-3
Weight                 185.0
College            Wisconsin
Salary             4053446.0
Name: Devin Harris, dtype: object

David Lee Team        Dallas Mavericks
Number                  42.0
Position                  PF
Age                     33.0
Height                   6-9
Weight                 245.0
College              Florida
Salary             2085671.0
Name: David Lee, dtype: object

Wesley Matthews Team        Dallas Mavericks
Number                  23.0
Position                  SG
Age                     29.0
Height                   6-5
Weight                 220.0
College            Marquette
Salary            16407500.0
Name: Wesley Matthews, dtype: object

JaVale McGee Team        Dallas Mavericks
Number                  11.0
Position                   C
Age                     28.0
Height                   7-0
Weight                 270.0
College               Nevada
Salary             1270964.0
Name: JaVale McGee, dtype: object

Salah Mejri Team        Dallas Mavericks
Number                  50.0
Position                   C
Age                     29.0
Height                   7-2
Weight                 245.0
College                  NaN
Salary              525093.0
Name: Salah Mejri, dtype: object

Dirk Nowitzki Team        Dallas Mavericks
Number                  41.0
Position                  PF
Age                     37.0
Height                   7-0
Weight                 245.0
College                  NaN
Salary             8333334.0
Name: Dirk Nowitzki, dtype: object

Zaza Pachulia Team        Dallas Mavericks
Number                  27.0
Position                   C
Age                     32.0
Height                  6-11
Weight                 275.0
College                  NaN
Salary             5200000.0
Name: Zaza Pachulia, dtype: object

Chandler Parsons Team        Dallas Mavericks
Number                  25.0
Position                  SF
Age                     27.0
Height                  6-10
Weight                 230.0
College              Florida
Salary            15361500.0
Name: Chandler Parsons, dtype: object

Dwight Powell Team        Dallas Mavericks
Number                   7.0
Position                  PF
Age                     24.0
Height                  6-11
Weight                 240.0
College             Stanford
Salary              845059.0
Name: Dwight Powell, dtype: object

Charlie Villanueva Team        Dallas Mavericks
Number                   3.0
Position                  PF
Age                     31.0
Height                  6-11
Weight                 232.0
College          Connecticut
Salary              947276.0
Name: Charlie Villanueva, dtype: object

Deron Williams Team        Dallas Mavericks
Number                   8.0
Position                  PG
Age                     31.0
Height                   6-3
Weight                 200.0
College             Illinois
Salary             5378974.0
Name: Deron Williams, dtype: object

Trevor Ariza Team        Houston Rockets
Number                  1.0
Position                 SF
Age                    30.0
Height                  6-8
Weight                215.0
College                UCLA
Salary            8193030.0
Name: Trevor Ariza, dtype: object

Michael Beasley Team        Houston Rockets
Number                  8.0
Position                 SF
Age                    27.0
Height                 6-10
Weight                235.0
College        Kansas State
Salary             306527.0
Name: Michael Beasley, dtype: object

Patrick Beverley Team        Houston Rockets
Number                  2.0
Position                 PG
Age                    27.0
Height                  6-1
Weight                185.0
College            Arkansas
Salary            6486486.0
Name: Patrick Beverley, dtype: object

Corey Brewer Team        Houston Rockets
Number                 33.0
Position                 SG
Age                    30.0
Height                  6-9
Weight                186.0
College             Florida
Salary            8229375.0
Name: Corey Brewer, dtype: object

Clint Capela Team        Houston Rockets
Number                 15.0
Position                 PF
Age                    22.0
Height                 6-10
Weight                240.0
College                 NaN
Salary            1242720.0
Name: Clint Capela, dtype: object

Sam Dekker Team        Houston Rockets
Number                  7.0
Position                 SF
Age                    22.0
Height                  6-9
Weight                230.0
College           Wisconsin
Salary            1646400.0
Name: Sam Dekker, dtype: object

Andrew Goudelock Team        Houston Rockets
Number                  0.0
Position                 PG
Age                    27.0
Height                  6-3
Weight                200.0
College          Charleston
Salary             200600.0
Name: Andrew Goudelock, dtype: object

James Harden Team        Houston Rockets
Number                 13.0
Position                 SG
Age                    26.0
Height                  6-5
Weight                220.0
College       Arizona State
Salary           15756438.0
Name: James Harden, dtype: object

Montrezl Harrell Team        Houston Rockets
Number                 35.0
Position                 PF
Age                    22.0
Height                  6-8
Weight                240.0
College          Louisville
Salary            1000000.0
Name: Montrezl Harrell, dtype: object

Dwight Howard Team        Houston Rockets
Number                 12.0
Position                  C
Age                    30.0
Height                 6-11
Weight                265.0
College                 NaN
Salary           22359364.0
Name: Dwight Howard, dtype: object

Terrence Jones Team        Houston Rockets
Number                  6.0
Position                 PF
Age                    24.0
Height                  6-9
Weight                252.0
College            Kentucky
Salary            2489530.0
Name: Terrence Jones, dtype: object

K.J. McDaniels Team        Houston Rockets
Number                 32.0
Position                 SG
Age                    23.0
Height                  6-6
Weight                205.0
College             Clemson
Salary            3189794.0
Name: K.J. McDaniels, dtype: object

Donatas Motiejunas Team        Houston Rockets
Number                 20.0
Position                 PF
Age                    25.0
Height                  7-0
Weight                222.0
College                 NaN
Salary            2288205.0
Name: Donatas Motiejunas, dtype: object

Josh Smith Team        Houston Rockets
Number                  5.0
Position                  C
Age                    30.0
Height                  6-9
Weight                225.0
College                 NaN
Salary             947276.0
Name: Josh Smith, dtype: object

Jason Terry Team        Houston Rockets
Number                 31.0
Position                 SG
Age                    38.0
Height                  6-2
Weight                185.0
College             Arizona
Salary             947276.0
Name: Jason Terry, dtype: object

Jordan Adams Team        Memphis Grizzlies
Number                    3.0
Position                   SG
Age                      21.0
Height                    6-5
Weight                  209.0
College                  UCLA
Salary              1404600.0
Name: Jordan Adams, dtype: object

Tony Allen Team        Memphis Grizzlies
Number                    9.0
Position                   SG
Age                      34.0
Height                    6-4
Weight                  213.0
College        Oklahoma State
Salary              5158539.0
Name: Tony Allen, dtype: object

Chris Andersen Team        Memphis Grizzlies
Number                    7.0
Position                   PF
Age                      37.0
Height                   6-10
Weight                  245.0
College         Blinn College
Salary              5000000.0
Name: Chris Andersen, dtype: object

Matt Barnes Team        Memphis Grizzlies
Number                   22.0
Position                   SF
Age                      36.0
Height                    6-7
Weight                  226.0
College                  UCLA
Salary              3542500.0
Name: Matt Barnes, dtype: object

Vince Carter Team        Memphis Grizzlies
Number                   15.0
Position                   SG
Age                      39.0
Height                    6-6
Weight                  220.0
College        North Carolina
Salary              4088019.0
Name: Vince Carter, dtype: object

Mike Conley Team        Memphis Grizzlies
Number                   11.0
Position                   PG
Age                      28.0
Height                    6-1
Weight                  175.0
College            Ohio State
Salary              9588426.0
Name: Mike Conley, dtype: object

Bryce Cotton Team        Memphis Grizzlies
Number                    8.0
Position                   PG
Age                      23.0
Height                    6-1
Weight                  165.0
College            Providence
Salary               700902.0
Name: Bryce Cotton, dtype: object

Jordan Farmar Team        Memphis Grizzlies
Number                    4.0
Position                   PG
Age                      29.0
Height                    6-2
Weight                  180.0
College                  UCLA
Salary                    NaN
Name: Jordan Farmar, dtype: object

Marc Gasol Team        Memphis Grizzlies
Number                   33.0
Position                    C
Age                      31.0
Height                    7-1
Weight                  255.0
College                   NaN
Salary             19688000.0
Name: Marc Gasol, dtype: object

JaMychal Green Team        Memphis Grizzlies
Number                    0.0
Position                   PF
Age                      25.0
Height                    6-9
Weight                  227.0
College               Alabama
Salary               845059.0
Name: JaMychal Green, dtype: object

P.J. Hairston Team        Memphis Grizzlies
Number                   19.0
Position                   SF
Age                      23.0
Height                    6-6
Weight                  230.0
College        North Carolina
Salary              1201440.0
Name: P.J. Hairston, dtype: object

Jarell Martin Team        Memphis Grizzlies
Number                   10.0
Position                   PF
Age                      22.0
Height                   6-10
Weight                  239.0
College                   LSU
Salary              1230840.0
Name: Jarell Martin, dtype: object

Ray McCallum Team        Memphis Grizzlies
Number                    5.0
Position                   PG
Age                      24.0
Height                    6-3
Weight                  190.0
College               Detroit
Salary                    NaN
Name: Ray McCallum, dtype: object

Xavier Munford Team        Memphis Grizzlies
Number                   14.0
Position                   PG
Age                      24.0
Height                    6-3
Weight                  180.0
College          Rhode Island
Salary                    NaN
Name: Xavier Munford, dtype: object

Zach Randolph Team        Memphis Grizzlies
Number                   50.0
Position                   PF
Age                      34.0
Height                    6-9
Weight                  260.0
College        Michigan State
Salary              9638555.0
Name: Zach Randolph, dtype: object

Lance Stephenson Team        Memphis Grizzlies
Number                    1.0
Position                   SF
Age                      25.0
Height                    6-5
Weight                  230.0
College            Cincinnati
Salary              9000000.0
Name: Lance Stephenson, dtype: object

Alex Stepheson Team        Memphis Grizzlies
Number                   35.0
Position                   PF
Age                      28.0
Height                   6-10
Weight                  270.0
College                   USC
Salary                    NaN
Name: Alex Stepheson, dtype: object

Brandan Wright Team        Memphis Grizzlies
Number                   34.0
Position                   PF
Age                      28.0
Height                   6-10
Weight                  210.0
College        North Carolina
Salary              5464000.0
Name: Brandan Wright, dtype: object

Alexis Ajinca Team        New Orleans Pelicans
Number                      42.0
Position                       C
Age                         28.0
Height                       7-2
Weight                     248.0
College                      NaN
Salary                 4389607.0
Name: Alexis Ajinca, dtype: object

Ryan Anderson Team        New Orleans Pelicans
Number                      33.0
Position                      PF
Age                         28.0
Height                      6-10
Weight                     240.0
College               California
Salary                 8500000.0
Name: Ryan Anderson, dtype: object

Omer Asik Team        New Orleans Pelicans
Number                       3.0
Position                       C
Age                         29.0
Height                       7-0
Weight                     255.0
College                      NaN
Salary                 9213483.0
Name: Omer Asik, dtype: object

Luke Babbitt Team        New Orleans Pelicans
Number                       8.0
Position                      SF
Age                         26.0
Height                       6-9
Weight                     225.0
College                   Nevada
Salary                 1100602.0
Name: Luke Babbitt, dtype: object

Norris Cole Team        New Orleans Pelicans
Number                      30.0
Position                      PG
Age                         27.0
Height                       6-2
Weight                     175.0
College          Cleveland State
Salary                 3036927.0
Name: Norris Cole, dtype: object

Dante Cunningham Team        New Orleans Pelicans
Number                      44.0
Position                      PF
Age                         29.0
Height                       6-8
Weight                     230.0
College                Villanova
Salary                 2850000.0
Name: Dante Cunningham, dtype: object

Anthony Davis Team        New Orleans Pelicans
Number                      23.0
Position                      PF
Age                         23.0
Height                      6-10
Weight                     253.0
College                 Kentucky
Salary                 7070730.0
Name: Anthony Davis, dtype: object

Bryce Dejean-Jones Team        New Orleans Pelicans
Number                      31.0
Position                      SG
Age                         23.0
Height                       6-6
Weight                     203.0
College               Iowa State
Salary                  169883.0
Name: Bryce Dejean-Jones, dtype: object

Toney Douglas Team        New Orleans Pelicans
Number                      16.0
Position                      PG
Age                         30.0
Height                       6-2
Weight                     195.0
College            Florida State
Salary                 1164858.0
Name: Toney Douglas, dtype: object

James Ennis Team        New Orleans Pelicans
Number                       4.0
Position                      SF
Age                         25.0
Height                       6-7
Weight                     210.0
College         Long Beach State
Salary                  845059.0
Name: James Ennis, dtype: object

Tyreke Evans Team        New Orleans Pelicans
Number                       1.0
Position                      SG
Age                         26.0
Height                       6-6
Weight                     220.0
College                  Memphis
Salary                10734586.0
Name: Tyreke Evans, dtype: object

Tim Frazier Team        New Orleans Pelicans
Number                       2.0
Position                      PG
Age                         25.0
Height                       6-1
Weight                     170.0
College               Penn State
Salary                  845059.0
Name: Tim Frazier, dtype: object

Alonzo Gee Team        New Orleans Pelicans
Number                      15.0
Position                      SF
Age                         29.0
Height                       6-6
Weight                     225.0
College                  Alabama
Salary                 1320000.0
Name: Alonzo Gee, dtype: object

Eric Gordon Team        New Orleans Pelicans
Number                      10.0
Position                      SG
Age                         27.0
Height                       6-4
Weight                     215.0
College                  Indiana
Salary                15514031.0
Name: Eric Gordon, dtype: object

Jordan Hamilton Team        New Orleans Pelicans
Number                      25.0
Position                      SG
Age                         25.0
Height                       6-7
Weight                     220.0
College                    Texas
Salary                 1015421.0
Name: Jordan Hamilton, dtype: object

Jrue Holiday Team        New Orleans Pelicans
Number                      11.0
Position                      PG
Age                         25.0
Height                       6-4
Weight                     205.0
College                     UCLA
Salary                10595507.0
Name: Jrue Holiday, dtype: object

Orlando Johnson Team        New Orleans Pelicans
Number                       0.0
Position                      SG
Age                         27.0
Height                       6-5
Weight                     220.0
College         UC Santa Barbara
Salary                   55722.0
Name: Orlando Johnson, dtype: object

Kendrick Perkins Team        New Orleans Pelicans
Number                       5.0
Position                       C
Age                         31.0
Height                      6-10
Weight                     270.0
College                      NaN
Salary                  947276.0
Name: Kendrick Perkins, dtype: object

Quincy Pondexter Team        New Orleans Pelicans
Number                      20.0
Position                      SF
Age                         28.0
Height                       6-7
Weight                     220.0
College               Washington
Salary                 3382023.0
Name: Quincy Pondexter, dtype: object

LaMarcus Aldridge Team        San Antonio Spurs
Number                   12.0
Position                   PF
Age                      30.0
Height                   6-11
Weight                  240.0
College                 Texas
Salary             19689000.0
Name: LaMarcus Aldridge, dtype: object

Kyle Anderson Team        San Antonio Spurs
Number                    1.0
Position                   SF
Age                      22.0
Height                    6-9
Weight                  230.0
College                  UCLA
Salary              1142880.0
Name: Kyle Anderson, dtype: object

Matt Bonner Team        San Antonio Spurs
Number                   15.0
Position                    C
Age                      36.0
Height                   6-10
Weight                  235.0
College               Florida
Salary               947276.0
Name: Matt Bonner, dtype: object

Boris Diaw Team        San Antonio Spurs
Number                   33.0
Position                    C
Age                      34.0
Height                    6-8
Weight                  250.0
College                   NaN
Salary              7500000.0
Name: Boris Diaw, dtype: object

Tim Duncan Team        San Antonio Spurs
Number                   21.0
Position                    C
Age                      40.0
Height                   6-11
Weight                  250.0
College           Wake Forest
Salary              5250000.0
Name: Tim Duncan, dtype: object

Manu Ginobili Team        San Antonio Spurs
Number                   20.0
Position                   SG
Age                      38.0
Height                    6-6
Weight                  205.0
College                   NaN
Salary              2814000.0
Name: Manu Ginobili, dtype: object

Danny Green Team        San Antonio Spurs
Number                   14.0
Position                   SG
Age                      28.0
Height                    6-6
Weight                  215.0
College        North Carolina
Salary             10000000.0
Name: Danny Green, dtype: object

Kawhi Leonard Team        San Antonio Spurs
Number                    2.0
Position                   SF
Age                      24.0
Height                    6-7
Weight                  230.0
College       San Diego State
Salary             16407500.0
Name: Kawhi Leonard, dtype: object

Boban Marjanovic Team        San Antonio Spurs
Number                   40.0
Position                    C
Age                      27.0
Height                    7-3
Weight                  290.0
College                   NaN
Salary              1200000.0
Name: Boban Marjanovic, dtype: object

Kevin Martin Team        San Antonio Spurs
Number                   23.0
Position                   SG
Age                      33.0
Height                    6-7
Weight                  199.0
College      Western Carolina
Salary               200600.0
Name: Kevin Martin, dtype: object

Andre Miller Team        San Antonio Spurs
Number                   24.0
Position                   PG
Age                      40.0
Height                    6-3
Weight                  200.0
College                  Utah
Salary               250750.0
Name: Andre Miller, dtype: object

Patty Mills Team        San Antonio Spurs
Number                    8.0
Position                   PG
Age                      27.0
Height                    6-0
Weight                  185.0
College          Saint Mary's
Salary              3578947.0
Name: Patty Mills, dtype: object

Tony Parker Team        San Antonio Spurs
Number                    9.0
Position                   PG
Age                      34.0
Height                    6-2
Weight                  185.0
College                   NaN
Salary             13437500.0
Name: Tony Parker, dtype: object

Jonathon Simmons Team        San Antonio Spurs
Number                   17.0
Position                   SG
Age                      26.0
Height                    6-6
Weight                  195.0
College               Houston
Salary               525093.0
Name: Jonathon Simmons, dtype: object

David West Team        San Antonio Spurs
Number                   30.0
Position                   PF
Age                      35.0
Height                    6-9
Weight                  250.0
College                Xavier
Salary              1499187.0
Name: David West, dtype: object

Kent Bazemore Team        Atlanta Hawks
Number               24.0
Position               SF
Age                  26.0
Height                6-5
Weight              201.0
College      Old Dominion
Salary          2000000.0
Name: Kent Bazemore, dtype: object

Tim Hardaway Jr. Team        Atlanta Hawks
Number               10.0
Position               SG
Age                  24.0
Height                6-6
Weight              205.0
College          Michigan
Salary          1304520.0
Name: Tim Hardaway Jr., dtype: object

Kirk Hinrich Team        Atlanta Hawks
Number               12.0
Position               SG
Age                  35.0
Height                6-4
Weight              190.0
College            Kansas
Salary          2854940.0
Name: Kirk Hinrich, dtype: object

Al Horford Team        Atlanta Hawks
Number               15.0
Position                C
Age                  30.0
Height               6-10
Weight              245.0
College           Florida
Salary         12000000.0
Name: Al Horford, dtype: object

Kris Humphries Team        Atlanta Hawks
Number               43.0
Position               PF
Age                  31.0
Height                6-9
Weight              235.0
College         Minnesota
Salary          1000000.0
Name: Kris Humphries, dtype: object

Kyle Korver Team        Atlanta Hawks
Number               26.0
Position               SG
Age                  35.0
Height                6-7
Weight              212.0
College         Creighton
Salary          5746479.0
Name: Kyle Korver, dtype: object

Paul Millsap Team         Atlanta Hawks
Number                 4.0
Position                PF
Age                   31.0
Height                 6-8
Weight               246.0
College     Louisiana Tech
Salary          18671659.0
Name: Paul Millsap, dtype: object

Mike Muscala Team        Atlanta Hawks
Number               31.0
Position               PF
Age                  24.0
Height               6-11
Weight              240.0
College          Bucknell
Salary           947276.0
Name: Mike Muscala, dtype: object

Lamar Patterson Team        Atlanta Hawks
Number               13.0
Position               SG
Age                  24.0
Height                6-5
Weight              225.0
College        Pittsburgh
Salary           525093.0
Name: Lamar Patterson, dtype: object

Dennis Schroder Team        Atlanta Hawks
Number               17.0
Position               PG
Age                  22.0
Height                6-1
Weight              172.0
College               NaN
Salary          1763400.0
Name: Dennis Schroder, dtype: object

Mike Scott Team        Atlanta Hawks
Number               32.0
Position               PF
Age                  27.0
Height                6-8
Weight              237.0
College          Virginia
Salary          3333333.0
Name: Mike Scott, dtype: object

Thabo Sefolosha Team        Atlanta Hawks
Number               25.0
Position               SF
Age                  32.0
Height                6-7
Weight              220.0
College               NaN
Salary          4000000.0
Name: Thabo Sefolosha, dtype: object

Tiago Splitter Team        Atlanta Hawks
Number               11.0
Position                C
Age                  31.0
Height               6-11
Weight              245.0
College               NaN
Salary          9756250.0
Name: Tiago Splitter, dtype: object

Walter Tavares Team        Atlanta Hawks
Number               22.0
Position                C
Age                  24.0
Height                7-3
Weight              260.0
College               NaN
Salary          1000000.0
Name: Walter Tavares, dtype: object

Jeff Teague Team        Atlanta Hawks
Number                0.0
Position               PG
Age                  27.0
Height                6-2
Weight              186.0
College       Wake Forest
Salary          8000000.0
Name: Jeff Teague, dtype: object

Nicolas Batum Team        Charlotte Hornets
Number                    5.0
Position                   SG
Age                      27.0
Height                    6-8
Weight                  200.0
College                   NaN
Salary             13125306.0
Name: Nicolas Batum, dtype: object

Troy Daniels Team            Charlotte Hornets
Number                       30.0
Position                       SG
Age                          24.0
Height                        6-4
Weight                      205.0
College     Virginia Commonwealth
Salary                   947276.0
Name: Troy Daniels, dtype: object

Jorge Gutierrez Team        Charlotte Hornets
Number                   12.0
Position                   PG
Age                      27.0
Height                    6-3
Weight                  189.0
College            California
Salary               189455.0
Name: Jorge Gutierrez, dtype: object

Tyler Hansbrough Team        Charlotte Hornets
Number                   50.0
Position                   PF
Age                      30.0
Height                    6-9
Weight                  250.0
College        North Carolina
Salary               947276.0
Name: Tyler Hansbrough, dtype: object

Aaron Harrison Team        Charlotte Hornets
Number                    9.0
Position                   SG
Age                      21.0
Height                    6-6
Weight                  210.0
College              Kentucky
Salary               525093.0
Name: Aaron Harrison, dtype: object

Spencer Hawes Team        Charlotte Hornets
Number                    0.0
Position                   PF
Age                      28.0
Height                    7-1
Weight                  245.0
College            Washington
Salary              6110034.0
Name: Spencer Hawes, dtype: object

Al Jefferson Team        Charlotte Hornets
Number                   25.0
Position                    C
Age                      31.0
Height                   6-10
Weight                  289.0
College                   NaN
Salary             13500000.0
Name: Al Jefferson, dtype: object

Frank Kaminsky III Team        Charlotte Hornets
Number                   44.0
Position                    C
Age                      23.0
Height                    7-0
Weight                  240.0
College             Wisconsin
Salary              2612520.0
Name: Frank Kaminsky III, dtype: object

Michael Kidd-Gilchrist Team        Charlotte Hornets
Number                   14.0
Position                   SF
Age                      22.0
Height                    6-7
Weight                  232.0
College              Kentucky

Mario Hezonja Team        Orlando Magic
Number               23.0
Position               SG
Age                  21.0
Height                6-8
Weight              218.0
College               NaN
Salary          3741480.0
Name: Mario Hezonja, dtype: object

Ersan Ilyasova Team        Orlando Magic
Number                7.0
Position               PF
Age                  29.0
Height               6-10
Weight              235.0
College               NaN
Salary          7900000.0
Name: Ersan Ilyasova, dtype: object

Brandon Jennings Team        Orlando Magic
Number               55.0
Position               PG
Age                  26.0
Height                6-1
Weight              169.0
College               NaN
Salary          8344497.0
Name: Brandon Jennings, dtype: object

Devyn Marble Team        Orlando Magic
Number               11.0
Position               SF
Age                  23.0
Height                6-6
Weight              200.0
College              Iowa
Salary           845059.0
Name: Devyn Marble, dtype: object

Shabazz Napier Team        Orlando Magic
Number               13.0
Position               PG
Age                  24.0
Height                6-1
Weight              175.0
College       Connecticut
Salary          1294440.0
Name: Shabazz Napier, dtype: object

Andrew Nicholson Team          Orlando Magic
Number                 44.0
Position                 PF
Age                    26.0
Height                  6-9
Weight                250.0
College     St. Bonaventure
Salary            2380593.0
Name: Andrew Nicholson, dtype: object

Victor Oladipo Team        Orlando Magic
Number                5.0
Position               SG
Age                  24.0
Height                6-4
Weight              210.0
College           Indiana
Salary          5192520.0
Name: Victor Oladipo, dtype: object

Elfrid Payton Team              Orlando Magic
Number                      4.0
Position                     PG
Age                        22.0
Height                      6-4
Weight                    185.0
College     Louisiana-Lafayette
Salary                2505720.0
Name: Elfrid Payton, dtype: object

Jason Smith Team         Orlando Magic
Number                14.0
Position                PF
Age                   30.0
Height                 7-0
Weight               240.0
College     Colorado State
Salary           4300000.0
Name: Jason Smith, dtype: object

Nikola Vucevic Team        Orlando Magic
Number                9.0
Position                C
Age                  25.0
Height                7-0
Weight              260.0
College               USC
Salary         11250000.0
Name: Nikola Vucevic, dtype: object

C.J. Watson Team        Orlando Magic
Number               32.0
Position               PG
Age                  32.0
Height                6-2
Weight              175.0
College         Tennessee
Salary          5000000.0
Name: C.J. Watson, dtype: object

Alan Anderson Team        Washington Wizards
Number                     6.0
Position                    SG
Age                       33.0
Height                     6-6
Weight                   220.0
College         Michigan State
Salary               4000000.0
Name: Alan Anderson, dtype: object

Bradley Beal Team        Washington Wizards
Number                     3.0
Position                    SG
Age                       22.0
Height                     6-5
Weight                   207.0
College                Florida
Salary               5694674.0
Name: Bradley Beal, dtype: object

Jared Dudley Team        Washington Wizards
Number                     1.0
Position                    SF
Age                       30.0
Height                     6-7
Weight                   225.0
College         Boston College
Salary               4375000.0
Name: Jared Dudley, dtype: object

Jarell Eddie Team        Washington Wizards
Number                     8.0
Position                    SG
Age                       24.0
Height                     6-7
Weight                   218.0
College          Virginia Tech
Salary                561716.0
Name: Jarell Eddie, dtype: object

Drew Gooden Team        Washington Wizards
Number                    90.0
Position                    PF
Age                       34.0
Height                    6-10
Weight                   250.0
College                 Kansas
Salary               3300000.0
Name: Drew Gooden, dtype: object

Marcin Gortat Team        Washington Wizards
Number                    13.0
Position                     C
Age                       32.0
Height                    6-11
Weight                   240.0
College                    NaN
Salary              11217391.0
Name: Marcin Gortat, dtype: object

JJ Hickson Team          Washington Wizards
Number                      21.0
Position                       C
Age                         27.0
Height                       6-9
Weight                     242.0
College     North Carolina State
Salary                  273038.0
Name: JJ Hickson, dtype: object

Nene Hilario Team        Washington Wizards
Number                    42.0
Position                     C
Age                       33.0
Height                    6-11
Weight                   250.0
College                    NaN
Salary              13000000.0
Name: Nene Hilario, dtype: object

Markieff Morris Team        Washington Wizards
Number                     5.0
Position                    PF
Age                       26.0
Height                    6-10
Weight                   245.0
College                 Kansas
Salary               8000000.0
Name: Markieff Morris, dtype: object

Kelly Oubre Jr. Team        Washington Wizards
Number                    12.0
Position                    SF
Age                       20.0
Height                     6-7
Weight                   205.0
College                 Kansas
Salary               1920240.0
Name: Kelly Oubre Jr., dtype: object

Otto Porter Jr. Team        Washington Wizards
Number                    22.0
Position                    SF
Age                       23.0
Height                     6-8
Weight                   198.0
College             Georgetown
Salary               4662960.0
Name: Otto Porter Jr., dtype: object

Ramon Sessions Team        Washington Wizards
Number                     7.0
Position                    PG
Age                       30.0
Height                     6-3
Weight                   190.0
College                 Nevada
Salary               2170465.0
Name: Ramon Sessions, dtype: object

Garrett Temple Team        Washington Wizards
Number                    17.0
Position                    SG
Age                       30.0
Height                     6-6
Weight                   195.0
College                    LSU
Salary               1100602.0
Name: Garrett Temple, dtype: object

Marcus Thornton Team        Washington Wizards
Number                    15.0
Position                    SF
Age                       29.0
Height                     6-4
Weight                   205.0
College                    LSU
Salary                200600.0
Name: Marcus Thornton, dtype: object

John Wall Team        Washington Wizards
Number                     2.0
Position                    PG
Age                       25.0
Height                     6-4
Weight                   195.0
College               Kentucky
Salary              15851950.0
Name: John Wall, dtype: object

Darrell Arthur Team        Denver Nuggets
Number                 0.0
Position                PF
Age                   28.0
Height                 6-9
Weight               235.0
College             Kansas
Salary           2814000.0
Name: Darrell Arthur, dtype: object

D.J. Augustin Team        Denver Nuggets
Number                12.0
Position                PG
Age                   28.0
Height                 6-0
Weight               183.0
College              Texas
Salary           3000000.0
Name: D.J. Augustin, dtype: object

Will Barton Team        Denver Nuggets
Number                 5.0
Position                SF
Age                   25.0
Height                 6-6
Weight               175.0
College            Memphis
Salary           3533333.0
Name: Will Barton, dtype: object

Wilson Chandler Team        Denver Nuggets
Number                21.0
Position                SF
Age                   29.0
Height                 6-8
Weight               225.0
College             DePaul
Salary          10449438.0
Name: Wilson Chandler, dtype: object

Kenneth Faried Team        Denver Nuggets
Number                35.0
Position                PF
Age                   26.0
Height                 6-8
Weight               228.0
College     Morehead State
Salary          11235955.0
Name: Kenneth Faried, dtype: object

Danilo Gallinari Team        Denver Nuggets
Number                 8.0
Position                SF
Age                   27.0
Height                6-10
Weight               225.0
College                NaN
Salary          14000000.0
Name: Danilo Gallinari, dtype: object

Gary Harris Team        Denver Nuggets
Number                14.0
Position                SG
Age                   21.0
Height                 6-4
Weight               210.0
College     Michigan State
Salary           1584480.0
Name: Gary Harris, dtype: object

Nikola Jokic Team        Denver Nuggets
Number                15.0
Position                 C
Age                   21.0
Height                6-10
Weight               250.0
College                NaN
Salary           1300000.0
Name: Nikola Jokic, dtype: object

Joffrey Lauvergne Team        Denver Nuggets
Number                77.0
Position                 C
Age                   24.0
Height                6-11
Weight               220.0
College                NaN
Salary           1709719.0
Name: Joffrey Lauvergne, dtype: object

Mike Miller Team        Denver Nuggets
Number                 3.0
Position                SG
Age                   36.0
Height                 6-8
Weight               218.0
College            Florida
Salary            947276.0
Name: Mike Miller, dtype: object

Emmanuel Mudiay Team        Denver Nuggets
Number                 0.0
Position                PG
Age                   20.0
Height                 6-5
Weight               200.0
College                NaN
Salary           3102240.0
Name: Emmanuel Mudiay, dtype: object

Jameer Nelson Team        Denver Nuggets
Number                 1.0
Position                PG
Age                   34.0
Height                 6-0
Weight               190.0
College     Saint Joseph's
Salary           4345000.0
Name: Jameer Nelson, dtype: object

Jusuf Nurkic Team        Denver Nuggets
Number                23.0
Position                 C
Age                   21.0
Height                 7-0
Weight               280.0
College                NaN
Salary           1842000.0
Name: Jusuf Nurkic, dtype: object

JaKarr Sampson Team        Denver Nuggets
Number                 9.0
Position                SG
Age                   23.0
Height                 6-9
Weight               214.0
College         St. John's
Salary            258489.0
Name: JaKarr Sampson, dtype: object

Axel Toupane Team        Denver Nuggets
Number                 6.0
Position                SG
Age                   23.0
Height                 6-7
Weight               210.0
College                NaN
Salary                 NaN
Name: Axel Toupane, dtype: object

Nemanja Bjelica Team        Minnesota Timberwolves
Number                        88.0
Position                        PF
Age                           28.0
Height                        6-10
Weight                       240.0
College                        NaN
Salary                   3950001.0
Name: Nemanja Bjelica, dtype: object

Gorgui Dieng Team        Minnesota Timberwolves
Number                         5.0
Position                         C
Age                           26.0
Height                        6-11
Weight                       241.0
College                 Louisville
Salary                   1474440.0
Name: Gorgui Dieng, dtype: object

Kevin Garnett Team        Minnesota Timberwolves
Number                        21.0
Position                        PF
Age                           40.0
Height                        6-11
Weight                       240.0
College                        NaN
Salary                   8500000.0
Name: Kevin Garnett, dtype: object

Tyus Jones Team        Minnesota Timberwolves
Number                         1.0
Position                        PG
Age                           20.0
Height                         6-2
Weight                       195.0
College                       Duke
Salary                   1282080.0
Name: Tyus Jones, dtype: object

Zach LaVine Team        Minnesota Timberwolves
Number                         8.0
Position                        PG
Age                           21.0
Height                         6-5
Weight                       189.0
College                       UCLA
Salary                   2148360.0
Name: Zach LaVine, dtype: object

Shabazz Muhammad Team        Minnesota Timberwolves
Number                        15.0
Position                        SF
Age                           23.0
Height                         6-6
Weight                       223.0
College                       UCLA
Salary                   2056920.0
Name: Shabazz Muhammad, dtype: object

Adreian Payne Team        Minnesota Timberwolves
Number                        33.0
Position                        PF
Age                           25.0
Height                        6-10
Weight                       237.0
College             Michigan State
Salary                   1938840.0
Name: Adreian Payne, dtype: object

Nikola Pekovic Team        Minnesota Timberwolves
Number                        14.0
Position                         C
Age                           30.0
Height                        6-11
Weight                       307.0
College                        NaN
Salary                  12100000.0
Name: Nikola Pekovic, dtype: object

Tayshaun Prince Team        Minnesota Timberwolves
Number                        12.0
Position                        SF
Age                           36.0
Height                         6-9
Weight                       212.0
College                   Kentucky
Salary                    947276.0
Name: Tayshaun Prince, dtype: object

Ricky Rubio Team        Minnesota Timberwolves
Number                         9.0
Position                        PG
Age                           25.0
Height                         6-4
Weight                       194.0
College                        NaN
Salary                  12700000.0
Name: Ricky Rubio, dtype: object

Damjan Rudez Team        Minnesota Timberwolves
Number                        10.0
Position                        SF
Age                           29.0
Height                         6-9
Weight                       230.0
College                        NaN
Salary                   1149500.0
Name: Damjan Rudez, dtype: object

Greg Smith Team        Minnesota Timberwolves
Number                         4.0
Position                        PF
Age                           25.0
Height                        6-10
Weight                       250.0
College               Fresno State
Salary                         NaN
Name: Greg Smith, dtype: object

Karl-Anthony Towns Team        Minnesota Timberwolves
Number                        32.0
Position                         C
Age                           20.0
Height                         7-0
Weight                       244.0
College                   Kentucky
Salary                   5703600.0
Name: Karl-Anthony Towns, dtype: object

Andrew Wiggins Team        Minnesota Timberwolves
Number                        22.0
Position                        SG
Age                           21.0
Height                         6-8
Weight                       199.0
College                     Kansas
Salary                   5758680.0
Name: Andrew Wiggins, dtype: object

Steven Adams Team        Oklahoma City Thunder
Number                       12.0
Position                        C
Age                          22.0
Height                        7-0
Weight                      255.0
College                Pittsburgh
Salary                  2279040.0
Name: Steven Adams, dtype: object

Nick Collison Team        Oklahoma City Thunder
Number                        4.0
Position                       PF
Age                          35.0
Height                       6-10
Weight                      255.0
College                    Kansas
Salary                  3750000.0
Name: Nick Collison, dtype: object

Kevin Durant Team        Oklahoma City Thunder
Number                       35.0
Position                       SF
Age                          27.0
Height                        6-9
Weight                      240.0
College                     Texas
Salary                 20158622.0
Name: Kevin Durant, dtype: object

Randy Foye Team        Oklahoma City Thunder
Number                        6.0
Position                       SG
Age                          32.0
Height                        6-4
Weight                      213.0
College                 Villanova
Salary                  3135000.0
Name: Randy Foye, dtype: object

Josh Huestis Team        Oklahoma City Thunder
Number                       34.0
Position                       SF
Age                          24.0
Height                        6-7
Weight                      230.0
College                  Stanford
Salary                  1140240.0
Name: Josh Huestis, dtype: object

Serge Ibaka Team        Oklahoma City Thunder
Number                        9.0
Position                       PF
Age                          26.0
Height                       6-10
Weight                      245.0
College                       NaN
Salary                 12250000.0
Name: Serge Ibaka, dtype: object

Enes Kanter Team        Oklahoma City Thunder
Number                       11.0
Position                        C
Age                          24.0
Height                       6-11
Weight                      245.0
College                  Kentucky
Salary                 16407500.0
Name: Enes Kanter, dtype: object

Mitch McGary Team        Oklahoma City Thunder
Number                       33.0
Position                       PF
Age                          24.0
Height                       6-10
Weight                      255.0
College                  Michigan
Salary                  1463040.0
Name: Mitch McGary, dtype: object

Nazr Mohammed Team        Oklahoma City Thunder
Number                       13.0
Position                        C
Age                          38.0
Height                       6-10
Weight                      250.0
College                  Kentucky
Salary                   222888.0
Name: Nazr Mohammed, dtype: object

Anthony Morrow Team        Oklahoma City Thunder
Number                        2.0
Position                       SG
Age                          30.0
Height                        6-5
Weight                      210.0
College              Georgia Tech
Salary                  3344000.0
Name: Anthony Morrow, dtype: object

Cameron Payne Team        Oklahoma City Thunder
Number                       22.0
Position                       PG
Age                          21.0
Height                        6-3
Weight                      185.0
College              Murray State
Salary                  2021520.0
Name: Cameron Payne, dtype: object

Andre Roberson Team        Oklahoma City Thunder
Number                       21.0
Position                       SG
Age                          24.0
Height                        6-7
Weight                      210.0
College                  Colorado
Salary                  1210800.0
Name: Andre Roberson, dtype: object

Kyle Singler Team        Oklahoma City Thunder
Number                        5.0
Position                       SF

In [10]:
#iteration of columns
columns=data.columns
print(columns)
for i in columns:
    print(data[i][2])

Index(['Team', 'Number', 'Position', 'Age', 'Height', 'Weight', 'College',
       'Salary'],
      dtype='object')
Boston Celtics
30.0
SG
27.0
6-5
205.0
Boston University
nan

In [11]:
#series
data = pd.Series([5, 2, 3,7], index=['a', 'b', 'c', 'd'])
 
# creating a series
data1 = pd.Series([1, 6, 4, 9], index=['a', 'b', 'c', 'd'])
 
print(data)
print()
print(data1)

a    5
b    2
c    3
d    7
dtype: int64

a    1
b    6
c    4
d    9
dtype: int64

In [12]:
# adding values of 2 series wrt indices
data.add(data1,fill_value=0)

a     6
b     8
c     7
d    16
dtype: int64

In [13]:
#subtracting of 2 series wrt indices
data.sub(data1,fill_value=0)

a    4
b   -4
c   -1
d   -2
dtype: int64

In [11]:
#returning top n rows
data = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv")
#print(data.head())
#print(data.iloc[[4,6,8,10]])
print(data[4:12:2])

               Name            Team  Number Position   Age Height  Weight  \
4     Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
6     Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
8      Terry Rozier  Boston Celtics    12.0       PG  22.0    6-2   190.0
10  Jared Sullinger  Boston Celtics     7.0        C  24.0    6-9   260.0

       College     Salary
4          NaN  5000000.0
6          LSU  1170960.0
8   Louisville  1824360.0
10  Ohio State  2569260.0

In [15]:
#on series
series = data["Name"]
top = series.head(10)
print(top)

0    Avery Bradley
1      Jae Crowder
2     John Holland
3      R.J. Hunter
4    Jonas Jerebko
5     Amir Johnson
6    Jordan Mickey
7     Kelly Olynyk
8     Terry Rozier
9     Marcus Smart
Name: Name, dtype: object

In [16]:
#describe method gives the statistical details
perc =[.20, .40, .60, .80]
print(data.describe(percentiles=perc))

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
20%      4.000000   23.000000  195.600000  9.472760e+05
40%     10.000000   25.000000  213.400000  1.938840e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
60%     18.600000   27.000000  230.000000  3.815000e+06
80%     30.000000   30.000000  245.000000  8.042895e+06
max     99.000000   40.000000  307.000000  2.500000e+07

In [17]:
#column selection
print(data[['Number',"Age"]])

     Number   Age
0       0.0  25.0
1      99.0  25.0
2      30.0  27.0
3      28.0  22.0
4       8.0  29.0
..      ...   ...
453     8.0  26.0
454    25.0  24.0
455    21.0  26.0
456    24.0  26.0
457     NaN   NaN

[458 rows x 2 columns]

In [18]:
#column addition
height=pd.Series(data['Age'])
data["height"]=height #added height column
#print(data)

              Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary  height
0                Texas  7730337.0    25.0
1            Marquette  6796117.0    25.0
2    Boston University        NaN    27.0
3        Georgia State  1148640.0    22.0
4                  NaN  5000000.0    29.0
..                 ...        ...     ...
453             Butler  2433333.0    26.0
454                NaN   900000.0    24.0
455                NaN  2900000.0    26.0
456             Kansas   947276.0    26.0
457                NaN        NaN     NaN

[458 rows x 10 columns]

In [19]:
#column deletion 
data.drop(["height"],axis=1,inplace=True) #removed height column
print(data)

              Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0
457                NaN        NaN

[458 rows x 9 columns]

In [20]:
#Row Addition
new_row = pd.DataFrame({'Name':'varma', 'Team':'Ipl', 'Number':3,
                        'Position':'PG', 'Age':33, 'Height':'6-2',
                        'Weight':189, 'College':'SRKR', 'Salary':99999},index=[1])
data=pd.concat((new_row,data),ignore_index=True)
print(data)

              Name            Team  Number Position   Age Height  Weight  \
0            varma             Ipl     3.0       PG  33.0    6-2   189.0
1    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
2      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
3     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
4      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
..             ...             ...     ...      ...   ...    ...     ...
454   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
455      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
456   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
457    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
458            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                 SRKR    99999.0
1                Texas  7730337.0
2            Marquette  6796117.0
3    Boston University        NaN
4        Georgia State  1148640.0
..                 ...        ...
454             Butler  2433333.0
455                NaN   900000.0
456                NaN  2900000.0
457             Kansas   947276.0
458                NaN        NaN

[459 rows x 9 columns]

In [21]:
#deleting row values
data.drop(index=1,axis=0,inplace=True)
print(data)

              Name            Team  Number Position   Age Height  Weight  \
0            varma             Ipl     3.0       PG  33.0    6-2   189.0
2      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
3     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
4      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
5    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
454   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
455      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
456   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
457    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
458            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                 SRKR    99999.0
2            Marquette  6796117.0
3    Boston University        NaN
4        Georgia State  1148640.0
5                  NaN  5000000.0
..                 ...        ...
454             Butler  2433333.0
455                NaN   900000.0
456                NaN  2900000.0
457             Kansas   947276.0
458                NaN        NaN

[458 rows x 9 columns]

In [22]:
#selecting all rows with some columns using loc method
rows = data.loc[:, ["Team", "Number", "Position"]]
print(rows)

               Team  Number Position
0               Ipl     3.0       PG
2    Boston Celtics    99.0       SF
3    Boston Celtics    30.0       SG
4    Boston Celtics    28.0       SG
5    Boston Celtics     8.0       PF
..              ...     ...      ...
454       Utah Jazz     8.0       PG
455       Utah Jazz    25.0       PG
456       Utah Jazz    21.0        C
457       Utah Jazz    24.0        C
458             NaN     NaN      NaN

[458 rows x 3 columns]

In [23]:
#selecting all rows and some columns usign iloc method
row2 = data.iloc [:, [0, 2]]
print(row2)

              Name  Number
0            varma     3.0
2      Jae Crowder    99.0
3     John Holland    30.0
4      R.J. Hunter    28.0
5    Jonas Jerebko     8.0
..             ...     ...
454   Shelvin Mack     8.0
455      Raul Neto    25.0
456   Tibor Pleiss    21.0
457    Jeff Withey    24.0
458            NaN     NaN

[458 rows x 2 columns]

In [24]:
# masking data based on column values
print(data['Age'] > 25)

0       True
2      False
3       True
4      False
5       True
       ...
454     True
455    False
456     True
457     True
458    False
Name: Age, Length: 458, dtype: bool

In [25]:
# masking data based on index value
mask = data.index > 7
data[mask]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
8,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
9,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
10,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
11,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
12,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
...,...,...,...,...,...,...,...,...,...
454,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
455,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
456,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
457,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
#using groupby
data1 ={'Name':['Jai', 'Anuj', 'Jai', 'Princi',
                 'Gaurav', 'Anuj', 'Princi', 'Abhi'],
        'Age':[27, 24, 22, 32,
               33, 36, 27, 32],
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj',
                   'Jaunpur', 'Kanpur', 'Allahabad', 'Aligarh'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd',
                         'B.Tech', 'B.com', 'Msc', 'MA'],
        'Score': [23, 34, 35, 45, 47, 50, 52, 53]}
df = pd.DataFrame(data1)
print(df)
print(df.groupby('Address').groups) #groupby is done on address

     Name  Age    Address Qualification  Score
0     Jai   27     Nagpur           Msc     23
1    Anuj   24     Kanpur            MA     34
2     Jai   22  Allahabad           MCA     35
3  Princi   32    Kannuaj           Phd     45
4  Gaurav   33    Jaunpur        B.Tech     47
5    Anuj   36     Kanpur         B.com     50
6  Princi   27  Allahabad           Msc     52
7    Abhi   32    Aligarh            MA     53
{'Aligarh': [7], 'Allahabad': [2, 6], 'Jaunpur': [4], 'Kannuaj': [3], 'Kanpur': [1, 5], 'Nagpur': [0]}

In [27]:
#grouping data by sorting keys , as it increases computation speed
print(df.groupby('Name').sum()) #without using sort parameter
print(df.groupby('Name',sort=False).sum()) #with using sort parameter

        Age  Score
Name
Abhi     32     53
Anuj     60     84
Gaurav   33     47
Jai      49     58
Princi   59     97
        Age  Score
Name
Jai      49     58
Anuj     60     84
Princi   59     97
Gaurav   33     47
Abhi     32     53

In [28]:
#iteration
grp=df.groupby('Name')
for name,group in grp:
    print(name)
    print(group)

Abhi
   Name  Age  Address Qualification  Score
7  Abhi   32  Aligarh            MA     53
Anuj
   Name  Age Address Qualification  Score
1  Anuj   24  Kanpur            MA     34
5  Anuj   36  Kanpur         B.com     50
Gaurav
     Name  Age  Address Qualification  Score
4  Gaurav   33  Jaunpur        B.Tech     47
Jai
  Name  Age    Address Qualification  Score
0  Jai   27     Nagpur           Msc     23
2  Jai   22  Allahabad           MCA     35
Princi
     Name  Age    Address Qualification  Score
3  Princi   32    Kannuaj           Phd     45
6  Princi   27  Allahabad           Msc     52

In [29]:
#selecting a particular group
grp = df.groupby(['Name', 'Qualification'])
print(grp.get_group(('Jai', 'Msc')))

  Name  Age Address Qualification  Score
0  Jai   27  Nagpur           Msc     23

In [30]:
#performing aggregations on particular column
grp=df.groupby('Name')
print(grp['Age'].aggregate([np.sum,np.mean,np.std]))
print(grp)

        sum  mean       std
Name
Abhi     32  32.0       NaN
Anuj     60  30.0  8.485281
Gaurav   33  33.0       NaN
Jai      49  24.5  3.535534
Princi   59  29.5  3.535534
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f62b9c015e0>

In [31]:
#performing different aggregation on diff columns
print(grp.agg({'Age' : 'sum', 'Score' : 'std'}))

        Age      Score
Name
Abhi     32        NaN
Anuj     60  11.313708
Gaurav   33        NaN
Jai      49   8.485281
Princi   59   4.949747

In [32]:
#performing transformations
grp = df.groupby('Name')
sc = lambda x: (x - x.mean()) / x.std()*10
grp[["Age","Score"]].transform(sc)

        Age     Score
0  7.071068 -7.071068
1 -7.071068 -7.071068
2 -7.071068  7.071068
3  7.071068 -7.071068
4       NaN       NaN
5  7.071068  7.071068
6 -7.071068  7.071068
7       NaN       NaN

In [33]:
#filtration technique
grp = df.groupby('Name')
print(grp.filter(lambda x: len(x) >= 2))

     Name  Age    Address Qualification  Score
0     Jai   27     Nagpur           Msc     23
1    Anuj   24     Kanpur            MA     34
2     Jai   22  Allahabad           MCA     35
3  Princi   32    Kannuaj           Phd     45
5    Anuj   36     Kanpur         B.com     50
6  Princi   27  Allahabad           Msc     52

In [34]:
#concatenating dataframes by setting logic on axes
data1 = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd'],
        'Mobile No': [97, 91, 58, 76]} 
data2 = {'Name':['Gaurav', 'Anuj', 'Dhiraj', 'Hitesh'], 
        'Age':[22, 32, 12, 52], 
        'Address':['Allahabad', 'Kannuaj', 'Allahabad', 'Kannuaj'], 
        'Qualification':['MCA', 'Phd', 'Bcom', 'B.hons'],
        'Salary':[1000, 2000, 3000, 4000]} 
  
df = pd.DataFrame(data1,index=[0, 1, 2, 3])

df1 = pd.DataFrame(data2, index=[2, 3, 6, 7]) 
 
print(df, "\n\n", df1)

     Name  Age    Address Qualification  Mobile No
0     Jai   27     Nagpur           Msc         97
1  Princi   24     Kanpur            MA         91
2  Gaurav   22  Allahabad           MCA         58
3    Anuj   32    Kannuaj           Phd         76

      Name  Age    Address Qualification  Salary
2  Gaurav   22  Allahabad           MCA    1000
3    Anuj   32    Kannuaj           Phd    2000
6  Dhiraj   12  Allahabad          Bcom    3000
7  Hitesh   52    Kannuaj        B.hons    4000

In [35]:
#concatenating dataframes by setting logic on axes
new_df = pd.concat([df, df1], axis=1, join='inner') #inner join only common indexes
print(new_df)

     Name  Age    Address Qualification  Mobile No    Name  Age    Address  \
2  Gaurav   22  Allahabad           MCA         58  Gaurav   22  Allahabad
3    Anuj   32    Kannuaj           Phd         76    Anuj   32    Kannuaj

  Qualification  Salary
2           MCA    1000
3           Phd    2000

In [36]:
#concatenating dataframe by ignoring index
print(df,"\n\n",df1)
res = pd.concat([df, df1], ignore_index=True)
res

     Name  Age    Address Qualification  Mobile No
0     Jai   27     Nagpur           Msc         97
1  Princi   24     Kanpur            MA         91
2  Gaurav   22  Allahabad           MCA         58
3    Anuj   32    Kannuaj           Phd         76

      Name  Age    Address Qualification  Salary
2  Gaurav   22  Allahabad           MCA    1000
3    Anuj   32    Kannuaj           Phd    2000
6  Dhiraj   12  Allahabad          Bcom    3000
7  Hitesh   52    Kannuaj        B.hons    4000

     Name  Age    Address Qualification  Mobile No  Salary
0     Jai   27     Nagpur           Msc       97.0     NaN
1  Princi   24     Kanpur            MA       91.0     NaN
2  Gaurav   22  Allahabad           MCA       58.0     NaN
3    Anuj   32    Kannuaj           Phd       76.0     NaN
4  Gaurav   22  Allahabad           MCA        NaN  1000.0
5    Anuj   32    Kannuaj           Phd        NaN  2000.0
6  Dhiraj   12  Allahabad          Bcom        NaN  3000.0
7  Hitesh   52    Kannuaj        B.hons        NaN  4000.0

In [37]:
#concatenating dataframe and series
s1 = pd.Series([1000, 2000, 3000, 4000], name='Salary')
data1 = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']} 

df = pd.DataFrame(data1)
print(df,"\n\n",s1)
print()
print(pd.concat(([df,s1]),axis=1))

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannuaj           Phd

 0    1000
1    2000
2    3000
3    4000
Name: Salary, dtype: int64

     Name  Age    Address Qualification  Salary
0     Jai   27     Nagpur           Msc    1000
1  Princi   24     Kanpur            MA    2000
2  Gaurav   22  Allahabad           MCA    3000
3    Anuj   32    Kannuaj           Phd    4000

In [38]:
# Merging a dataframe with one unique key combination
data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32],} 
   
data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']}  
df = pd.DataFrame(data1)

df1 = pd.DataFrame(data2) 

print(df, "\n\n", df1)

  key    Name  Age
0  K0     Jai   27
1  K1  Princi   24
2  K2  Gaurav   22
3  K3    Anuj   32

   key    Address Qualification
0  K0     Nagpur         Btech
1  K1     Kanpur           B.A
2  K2  Allahabad          Bcom
3  K3    Kannuaj        B.hons

In [39]:
merged_df = pd.merge(df, df1, on='key')
print(merged_df)

  key    Name  Age    Address Qualification
0  K0     Jai   27     Nagpur         Btech
1  K1  Princi   24     Kanpur           B.A
2  K2  Gaurav   22  Allahabad          Bcom
3  K3    Anuj   32    Kannuaj        B.hons

In [40]:
#Merging dataframe using how in an argument

data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'key1': ['K0', 'K1', 'K0', 'K1'],
         'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32],} 
   
data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'key1': ['K0', 'K0', 'K0', 'K0'],
         'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']} 
 
df = pd.DataFrame(data1)
 
df1 = pd.DataFrame(data2) 
  
print(df, "\n\n", df1)

  key key1    Name  Age
0  K0   K0     Jai   27
1  K1   K1  Princi   24
2  K2   K0  Gaurav   22
3  K3   K1    Anuj   32

   key key1    Address Qualification
0  K0   K0     Nagpur         Btech
1  K1   K0     Kanpur           B.A
2  K2   K0  Allahabad          Bcom
3  K3   K0    Kannuaj        B.hons

In [41]:
merged_df = pd.merge(df, df1, how='left', on=['key', 'key1']) #left merging
print(merged_df)

  key key1    Name  Age    Address Qualification
0  K0   K0     Jai   27     Nagpur         Btech
1  K1   K1  Princi   24        NaN           NaN
2  K2   K0  Gaurav   22  Allahabad          Bcom
3  K3   K1    Anuj   32        NaN           NaN

In [42]:
merged_df = pd.merge(df, df1, how='outer', on=['key', 'key1']) #union of keys   
merged_df

  key key1    Name   Age    Address Qualification
0  K0   K0     Jai  27.0     Nagpur         Btech
1  K1   K1  Princi  24.0        NaN           NaN
2  K2   K0  Gaurav  22.0  Allahabad          Bcom
3  K3   K1    Anuj  32.0        NaN           NaN
4  K1   K0     NaN   NaN     Kanpur           B.A
5  K3   K0     NaN   NaN    Kannuaj        B.hons

In [43]:
#joining dataframes
data1 = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32]} 
data2 = {'Address':['Allahabad', 'Kannuaj', 'Allahabad', 'Kannuaj'], 
        'Qualification':['MCA', 'Phd', 'Bcom', 'B.hons']} 
  
df = pd.DataFrame(data1,index=['K0', 'K1', 'K2', 'K3'])
  
df1 = pd.DataFrame(data2, index=['K0', 'K2', 'K3', 'K4'])
 
 
print(df, "\n\n", df1)

      Name  Age
K0     Jai   27
K1  Princi   24
K2  Gaurav   22
K3    Anuj   32

       Address Qualification
K0  Allahabad           MCA
K2    Kannuaj           Phd
K3  Allahabad          Bcom
K4    Kannuaj        B.hons

In [44]:
joined_df = df.join(df1, how='outer')
print(joined_df)

      Name   Age    Address Qualification
K0     Jai  27.0  Allahabad           MCA
K1  Princi  24.0        NaN           NaN
K2  Gaurav  22.0    Kannuaj           Phd
K3    Anuj  32.0  Allahabad          Bcom
K4     NaN   NaN    Kannuaj        B.hons

In [45]:
#Joining dataframe using on in an argument :
data1 = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32],
        'Key':['K0', 'K1', 'K2', 'K3']} 
data2 = {'Address':['Allahabad', 'Kannuaj', 'Allahabad', 'Kannuaj'], 
        'Qualification':['MCA', 'Phd', 'Bcom', 'B.hons']} 
df = pd.DataFrame(data1) 
df1 = pd.DataFrame(data2, index=['K0', 'K2', 'K3', 'K4'])
print(df, "\n\n", df1)

     Name  Age Key
0     Jai   27  K0
1  Princi   24  K1
2  Gaurav   22  K2
3    Anuj   32  K3

       Address Qualification
K0  Allahabad           MCA
K2    Kannuaj           Phd
K3  Allahabad          Bcom
K4    Kannuaj        B.hons

In [46]:
joined_df = df.join(df1, on='Key')
print(joined_df)

     Name  Age Key    Address Qualification
0     Jai   27  K0  Allahabad           MCA
1  Princi   24  K1        NaN           NaN
2  Gaurav   22  K2    Kannuaj           Phd
3    Anuj   32  K3  Allahabad          Bcom

In [47]:
#Hands on date-time series
data = pd.date_range('03/22/2022', periods = 10, freq ='H')
data

DatetimeIndex(['2022-03-22 00:00:00', '2022-03-22 01:00:00',
               '2022-03-22 02:00:00', '2022-03-22 03:00:00',
               '2022-03-22 04:00:00', '2022-03-22 05:00:00',
               '2022-03-22 06:00:00', '2022-03-22 07:00:00',
               '2022-03-22 08:00:00', '2022-03-22 09:00:00'],
              dtype='datetime64[ns]', freq='H')

In [48]:
t = pd.Timestamp.now()
# Convert timestamp to datetime
t=pd.to_datetime(t)
print(t)
print(t.day)
print(t.month)
print(t.week)
print(t.hour)
print(t.minute)

2022-03-23 10:32:00.109406
23
3
12
10
32

In [49]:
# realtime problem
df=pd.read_csv('http://bit.ly/uforeports')
print(df)

                       City Colors Reported Shape Reported State  \
0                    Ithaca             NaN       TRIANGLE    NY
1               Willingboro             NaN          OTHER    NJ
2                   Holyoke             NaN           OVAL    CO
3                   Abilene             NaN           DISK    KS
4      New York Worlds Fair             NaN          LIGHT    NY
...                     ...             ...            ...   ...
18236            Grant Park             NaN       TRIANGLE    IL
18237           Spirit Lake             NaN           DISK    IA
18238           Eagle River             NaN            NaN    WI
18239           Eagle River             RED          LIGHT    WI
18240                  Ybor             NaN           OVAL    FL

                   Time
0        6/1/1930 22:00
1       6/30/1930 20:00
2       2/15/1931 14:00
3        6/1/1931 13:00
4       4/18/1933 19:00
...                 ...
18236  12/31/2000 23:00
18237  12/31/2000 23:00
18238  12/31/2000 23:45
18239  12/31/2000 23:45
18240  12/31/2000 23:59

[18241 rows x 5 columns]

In [50]:
df['Time'] = pd.to_datetime(df.Time) #converting into datetime format
print(df.head())

                   City Colors Reported Shape Reported State  \
0                Ithaca             NaN       TRIANGLE    NY
1           Willingboro             NaN          OTHER    NJ
2               Holyoke             NaN           OVAL    CO
3               Abilene             NaN           DISK    KS
4  New York Worlds Fair             NaN          LIGHT    NY

                 Time
0 1930-06-01 22:00:00
1 1930-06-30 20:00:00
2 1931-02-15 14:00:00
3 1931-06-01 13:00:00
4 1933-04-18 19:00:00

In [51]:
df["Time"].dt.hour.head()

0    22
1    20
2    14
3    13
4    19
Name: Time, dtype: int64

In [52]:
df.Time.dt.day_name().head()

0     Sunday
1     Monday
2     Sunday
3     Monday
4    Tuesday
Name: Time, dtype: object

In [53]:
#String methods
data = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv")
print(data.head(10))

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
5   Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0
6  Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
7   Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0
8   Terry Rozier  Boston Celtics    12.0       PG  22.0    6-2   190.0
9   Marcus Smart  Boston Celtics    36.0       PG  22.0    6-4   220.0

             College      Salary
0              Texas   7730337.0
1          Marquette   6796117.0
2  Boston University         NaN
3      Georgia State   1148640.0
4                NaN   5000000.0
5                NaN  12000000.0
6                LSU   1170960.0
7            Gonzaga   2165160.0
8         Louisville   1824360.0
9     Oklahoma State   3431040.0

In [54]:
#converting college feature into upper case
data['College']=data['College'].str.upper()
print(data['College'])

0                  TEXAS
1              MARQUETTE
2      BOSTON UNIVERSITY
3          GEORGIA STATE
4                    NaN
             ...
453               BUTLER
454                  NaN
455                  NaN
456               KANSAS
457                  NaN
Name: College, Length: 458, dtype: object

In [55]:
#splitting columns 
print(data)

              Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                TEXAS  7730337.0
1            MARQUETTE  6796117.0
2    BOSTON UNIVERSITY        NaN
3        GEORGIA STATE  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             BUTLER  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             KANSAS   947276.0
457                NaN        NaN

[458 rows x 9 columns]

In [56]:
#splitting values
print(data["College"].str.split("A",n=1, expand = True))

                     0        1
0                  TEX        S
1                    M  RQUETTE
2    BOSTON UNIVERSITY     None
3               GEORGI    STATE
4                  NaN      NaN
..                 ...      ...
453             BUTLER     None
454                NaN      NaN
455                NaN      NaN
456                  K     NSAS
457                NaN      NaN

[458 rows x 2 columns]

In [57]:
#replace
print(data["Age"].replace(25.0, "Twenty five"))

0      Twenty five
1      Twenty five
2             27.0
3             22.0
4             29.0
          ...
453           26.0
454           24.0
455           26.0
456           26.0
457            NaN
Name: Age, Length: 458, dtype: object

In [58]:
#concatenation of data
new = data["Team"].copy()
data["Name"]= data["Name"].str.cat(new, sep =", ")
print(data.Name)

0      Avery Bradley, Boston Celtics
1        Jae Crowder, Boston Celtics
2       John Holland, Boston Celtics
3        R.J. Hunter, Boston Celtics
4      Jonas Jerebko, Boston Celtics
                   ...
453          Shelvin Mack, Utah Jazz
454             Raul Neto, Utah Jazz
455          Tibor Pleiss, Utah Jazz
456           Jeff Withey, Utah Jazz
457                              NaN
Name: Name, Length: 458, dtype: object

In [69]:
s = pd.Series(['a1', 'b2', 'c3'])
 
# Extracting a data
n = s.str.extract(r'(?P<first>[ab])(?P<second>\d)')
 
print(n)

  first second
0     a      1
1     b      2
2   NaN    NaN

In [86]:
data=pd.read_csv("/home/neosoft/Downloads/nba.csv",usecols =["Name"],skiprows = [1, 2, 3, 4])
data

              Name
0    Jonas Jerebko
1     Amir Johnson
2    Jordan Mickey
3     Kelly Olynyk
4     Terry Rozier
..             ...
449   Shelvin Mack
450      Raul Neto
451   Tibor Pleiss
452    Jeff Withey
453            NaN

[454 rows x 1 columns]